{% extends "base.html.twig" %}

{% block body %}
<p>Envie d'un guide simple pour bien démarrer ? <a href="{{ path('debuter') }}">C'est par ici !</a></p>



<h3>Aide détaillée</h3>
  
<p>
    <a href="#accueil">Accueil</a><br />
    <a href="#gestion">Gestion</a><br />
    <a href="#achat">Achat</a><br />
    <a href="#stockage">Stockage</a><br />
    <a href="#structures">Structures</a><br />
    <a href="#recherche">Recherche</a><br />
    <a href="#commerce">Commerce</a><br />
    <a href="#armee">Armée</a><br />
    <a href="#major">Officiers</a><br />
    <a href="#priorites">Priorités d'attaque</a><br />
    <a href="#moral">Moral</a><br />
    <a href="#silo">Silos</a><br />
    <a href="#antinucl">Défense anti-nucléaire</a><br />
    <a href="#espionnage">Espionnage</a><br />
    <a href="#classement">Classement</a><br />
    <a href="#alliances">Alliances</a><br />
    <a href="#alliances2">Fonctionnalités des Alliances</a><br />
    <a href="#gel">Gel</a><br />
    <a href="#batiments">Les différents bâtiments de C2G</a><br />
    <a href="#mages">Les différents mages de C2G</a><br />
    <a href="#divers">Questions diverses</a><br />
</p>
<p>
    <a href="#carac_unites">Caractéristiques des unités</a><br />
    <a href="#carac_tours">Caractéristiques des tourelles</a><br />
    <a href="#carac_missiles">Caractéristiques des missiles</a>
</p>

</div>






<div class="centre">

<h3 id="accueil">Accueil</h3>

<p>L'accueil est le tout premier écran que vous voyez. Il contient des informations relatives à votre état et à C2G en général. Vous pouvez y voir le nombre de missives présentes dans votre messagerie (dont les non lues qui sont également affichées) a
insi que divers autres informations (l'heure réelle, la date RP, etc...). Si vous êtes chef d'alliance (ou de faction) un jour vous y trouverez de nouvelles informations concernant votre poste.</p>



<h3 id="gestion">La gestion</h3>

<p>La page gestion est une des plus importantes de C2G. En effet, elle vous permet de récolter des ressources, construire des unités, des bâtiments ou des missiles, ou bien de demander à vos drones de réparer votre bouclier anti-nucléaire ou encore vos bâtiments.</p>
<p>Parlons maintenant du système de récolte de C2G. Vous possédez un certain nombre d'usines de drones, visible en haut de la page gestion. Chaque usine peut contenir 20 drones, ainsi plus vous avez d'usines, plus votre nombre de drones maximum augmente, et plus vous récoltez vite des ressources ou construisez vite des bâtiments ou unités. Le nombre d'usines est limité à 500 (donc 10 000 drones). Si vous perdez des usines suite à une attaque, les drones en excès ne seront pas perdus mais leur production sera divisée par 2.</p>
<p>Sur la page gestion vous pouvez répartir différentes tâches à vos drones. Ex: Pour leur faire récolter des ressources vous devez les placer dans les bâtiments correspondants. Les voici, ainsi que les ressources qu'ils permettent de récolter :</p>
<ul>
  <li>Usine de nourriture synthétique : Nourriture</li>
  <li>Complexe sidérurgique : Acier</li>
  <li>Mine d'uranium : Uranium</li>
  <li>Source de mana : Pierres de Mana</li>
  <li>Centre boursier : Crédits</li>
  <li>Complexe d'extraction : Carburant</li>
  <li>Centre d'exploration spatiale : Espace</li>
</ul>
<p>Pour placer des drones dans un bâtiment il suffit de remplir la case à droite de celui-ci et de valider. Plus vous placez un nombre élevé de drones à la récolte, plus celle-ci sera rapide. Une fois vos drones placés, les ressources commenceront à augmenter. Vous pouvez voir votre nombre actuel de ressources dans un cadre tout en haut de la page, ce cadre est toujours visible quelle que soit la page affichée (Attention : il n'est mit à jour que toute les minutes, quand vous chargez une page, et il se peut que vos ressources mettent longtemps à augmenter. Ainsi ne vous étonnez pas de ne pas le voir évoluer immédiatement).</p>
<p>Vous pouvez également affecter vos drones à la construction d'unités ou de bâtiments. Pour cela, une fois les unités/bâtiments achetés (voir <a href="#achat">Achat</a>) vous devez placer vos drones dans le bâtiment correspondant (Ex : Les technos guerriers sont formés dans le complexe militaro-industriel). Comme pour les ressources, plus vous placez un nombre élevé de drones à la construction, plus cela augmentera rapidement.</p>
<p>Pour finir avec la page gestion, vous pouvez affecter vos drones à la réparation. Si vous voulez réparer votre bouclier anti-nucléaire, il vous suffit d'y affecter des drones et d'attendre. En revanche, pour réparer des bâtiments, en plus d'affecter des drones dans le chantier de réparation, vous devez sélectionner les bâtiments à réparer dans la page structure.</p>


<h3 id="achat">Achat</h3>

<p>Cette page vous sert à acheter des unités. Pour cela, vous devez posséder suffisamment de ressources pour en acheter, et sélectionner le nombre d'unités que vous voulez dans le menu déroulant correspondant. Le prix de chaque unité est visible sur cette page. Le jeu calcule automatiquement le nombre maximum d'unités que vous pouvez acheter, ainsi il ne vous sera proposé que les nombres inférieurs à ce maximum dans le menu déroulant.</p>
<p>Au début du jeu, vous ne pouvez pas construire tous les types d'unités existants dans C2G. Vous devez au préalable les débloquer grâce à la Recherche.</p>
<p>Après avoir acheté une unité, il vous faudra la construire (voir <a href="#gestion">Gestion</a>).</p>



<h3 id="stockage">Stockage</h3>

<p>Cette page est utilisée, comme son nom l'indique, pour le stockage de ressources. Vous possédez un certain nombre de bunkers de stockage (dont un indestructible) qui servent à protéger vos ressources des pillages. Construisez d'autres bunkers pour pouvoir stocker des quantités plus importantes.</p>


<h3 id="structures">Structures</h3>

<p>Ici sont répertoriés tous vos bâtiments (et, pour certains, quelques détails comme par exemple les missiles contenus dans les silos, les ressources affectées aux complexes catalytiques, etc...). Vous pouvez voir leurs points de vie restants ou demander une réparation. C'est également sur cette page que vous affectez vos complexes catalytiques, améliorez vos Générateurs de bouclier anti-nucléaire... (plus de détails dans les sections correspondantes)</p>
<p>Pour réparer vos structures, vous devez tout d'abord activer la réparation. Par exemple, si vous voulez réparez vos usines et vos centres de recherche, cliquez sur les liens correspondants. Vous pouvez déterminer l'ordre dans lequel vos structures seront réparées à l'aide des flèches. Au sein d'un même type de structures, ce sont les plus endommagées qui seront réparées les premières. Attention : pour que la réparation fonctionne, vous devez affecter des drones au Chantier de réparation (page gestion). Plus vous affectez de drones, plus la réparation sera rapide. En dehors de cela, la réparation est gratuite.</p>



<h3 id="recherche">Recherche</h3>

<p>Grâce à cette page, vous pouvez développer le niveau scientifique ou magique de votre état. Tout en haut de la page est affiché votre nombre actuel de Centres de Recherches et d'Arcanes Sanctums (200 au maximum, nombre variable en fonction de la planète que vous avez choisie). Plus leur nombre est élevé, plus la recherche se développera rapidement. Les Centres de Recherches augmentent le développement scientifique, tandis que les Arcanes accélèrent la recherche magique.</p>

<p>Pour commencer une recherche, vous devez cliquer sur un des ronds visibles en dessous. En laissant la souris au dessus vous obtenez des informations relatives à la recherche en question. Ces ronds ont différentes couleurs :</p>
<ul>
  <li>Jaune : la recherche est disponible mais pas encore acquise</li>
  <li>Rouge : une autre recherche est requise avant de commencer celle-la</li>
  <li>Vert : la recherche est déjà acquise</li>
  <li>Bleu : la recherche est en cours</li>
</ul>

<p>Quand vous avez débuté une recherche, son avancement s'affiche en haut de la page. Un nombre de points est requis, variable en fonction de l'importance de la recherche. Votre nombre de points augmente en fonction du nombre de centres/arcanes que vous possédez. N'interrompez pas une recherche avant qu'elle ne soit acquise, sinon votre nombre de point sera remis à zéro.</p>


<h3 id="commerce">Commerce</h3>

<p>A partir de la page de commerce vous pourrez acheter ou vendre les différentes ressources du jeu. Il y a trois types de commerce sur Galactica :</p>
<ul>
<li>Sur la Bourse de Galactica, les ventes sont anonymes. Une taxe de 10% est prélevée sur ce que paye l'acheteur, et est répartie entre les Etats dont la planète est Galactica.</li>
<li>Sur le marché aux enchère, il vous faudra offrir le meilleur prix pendant trois heures pour emporter la vente. Si au moment de la fin de la vente vous n'avez pas assez de crédits pour payer, l'ensemble de vos crédits sera versé à l'acheteur mais vous ne toucherez pas vos ressources.</li>
<li>Les marchés d'alliance fonctionnent sur le même principe que la Bourse de Galactica, mais vous ne bénéficiez pas de l'anonymat. En contrepartie, les taxes sont fixées par les ministres de l'économie des alliances, et sont donc souvent moins élevées que celle de la Bourse.</li>
</ul>
<p>Une vente dure 24 heures au maximum à la Bourse, suite à quoi vos ressources sont perdues. Dans le maché aux enchères, si personne n'est intéressé par vos ressources au bout de 24 heures, elles subissent le même sort. Dans les marchés d'alliance, par contre, vos ressources restent indéfiniment, sauf si un ministre de l'économie de l'alliance responsable décide d'annuler votre vente (vous êtes remboursé) ou de la saisir (vous perdez vos ressources au profit de l'alliance). Toutefois, afin d'éviter que certains utilisents ces marchés comme banques, il y a un pourcentage de chances pour que votre vente soit réquisitionnée par la Corporation Galactique, qui ne vous payera en retour que 60% de son coût de production. Le pourcentage de chances que cela arrive commence nul, mais augmente chaque jour.</p>


<h3 id="armee">Armée</h3>

<p>Voici la page la plus complexe de C2G. Ici, vous contrôlez votre armée, votre défense, vos attaques... Vos flottes ainsi que leur position y sont représentées (pour apprendre comment créer une flotte ou mener une attaque, voir <a href="{{ path('debuter') }}">le guide du débutant</a>). Pour accéder aux actions disponibles pour une flotte, vous devez cliquer sur son nom.</p>

<p>Une flotte peut être :</p>
<ul>
<li>En hangar</li>
<li>En défense</li>
<li>En attente</li>
<li>En blocus</li>
<li>En approche</li>
</ul>

<p>Une flotte en hangar a les possibilités suivantes :</p>
<ul>
<li>Sortir du hangar : si la flotte a une portance positive, place la flotte en attente. Si votre Etat est actuellement soumis à un blocus hostile, place la flotte en défense.</li>
<li>Gérer les forces : permet d'échanger des unités avec les flottes/états alliés à proximité.</li>
<li>Gérer la cargaison : permets d'échanger des marchandises avec les flottes/états alliés à proximité.</li>
</ul>

<p>Une flotte en défense a les possibilités suivantes :</p>
<ul>
<li>Attaquer [flotte X] : lance une attaque contre la flotte X. Pour lancer une attaque, il faut que vous aillez assez de carburant (consommation / 2).</li>
<li>Arrêter de défendre l'état : place la flotte en attente.</li>
<li>Rentrer au hangar : place la flotte en hangar</li>
<li>Débuter un blocus : si aucun blocus n'est présent, place la flotte en blocus (voir <a href="#divers">Questions diverses</a> pour plus d'informations sur les blocus).</li>
<li>Déplacer [État Y] : déplace la flotte vers l'état Y. Pour vous déplacer, il faut que vous aillez assez de carburant.</li>
<li>Téléportation [État Y], si l'amélioration magique permettant de se téléporter a été effectuée : déplace instantanément la flotte vers l'état Y. La téléportation ne consomme pas de carburant. Vous pouvez vous téléporter une fois toutes les 24 heures tournantes.</li>
<li>Créer un groupe : créer un groupe avec la flotte sélectionnée. Une fois le groupe créé, d'autres flottes peuvent le rejoindre.</li>
<li>Rejoindre un groupe [groupe Z], seulement si un groupe allié est présent en attente, en blocus ou en défense : rejoins le groupe sélectionné.</li>
<li>Gérer les forces</li>
<li>Gérer la cargaison</li>
</ul>

<p>Une flotte en attente a les possibilités suivantes :</p>
<ul>
<li>Attaquer : à partir de la position en attente, vous pouvez attaquer les flottes ennemies à proximité mais aussi l'état. Pour attaquer un état, l'espace total occupé par votre flotte doit être inférieur à l'espace total de l'état que vous voulez attaquer.</li>
<li>Défendre l'état : place la flotte en défense</li>
<li>Rentrer au hangar</li>
<li>Débuter un blocus</li>
<li>Déplacer</li>
<li>Créer un groupe</li>
<li>Rejoindre un groupe</li>
<li>Gérer les forces</li>
<li>Gérer la cargaison</li>
</ul>

<p>Une flotte en blocus a les possibilités suivantes :</p>
<ul>
<li>Attaquer</li>
<li>Défendre l'état</li>
<li>Rentrer au hangar</li>
<li>Arrêter le blocus : place la flotte en attente</li>
<li>Déplacer</li>
<li>Créer un groupe</li>
<li>Rejoindre un groupe</li>
<li>Gérer les forces</li>
<li>Gérer la cargaison</li>
</ul>

<p>Une flotte en approche n'a aucune possibilité d'action tant qu'elle n'est pas arrivée.</p>

<p>Un groupe est un rassemblement de plusieurs flottes. Lors d'une attaque, toutes les flottes constituant le groupe sont alors considérées comme une seule et grande armée. Seul le chef du groupe peut lui donner des ordres. Un groupe a les mêmes possibilités qu'une flotte, mais a en plus :</p>
<ul>
<li>Expulser un membre du groupe [leader du groupe seulement]</li>
<li>Changer le chef du groupe [leader du groupe seulement]</li>
<li>Supprimer le groupe [leader du groupe seulement]. Toutes les flottes retrouvent leur indépendance.</li>
<li>Quitter le groupe [membre non-leader du groupe seulement]</li>
</ul>


<p>Lors d'une attaque, des unités sont détruites, de l'expérience gagnée, des ressources pillées et des bâtiments détruits.</p>

<h4>Destruction des unités</h4>

<p>A chaque tour de combat, les dégâts sont répartis entre tous tes types d'unités en fonction du pourcentage (en nombre d’unité) qu'elles représentent dans la flotte. Par exemple, si les chars laser représentent 5% des troupes, ils subiront 5% des dégâts totaux infligés par l'armée ennemie.</p>
<p>S'il reste des dégâts qui devraient être infligés aux chars mais qu'ils sont tous détruit, ces dégâts sont reportés sur l'unité suivante dans la liste.</p>


<h4>Destruction des structures</h4>
<ul>
<li>Un tour de destruction au début du combat, juste après le tir des tourelles.</li>
<li>Un tour de destruction à la fin du combat.</li>
<li>Un tour de destruction supplémentaire a la fin du combat s’il n'y avait pas de défense.</li>
<li>Pour les unités de destruction pure (saboteurs, artilleries, bombardiers), un tour de destruction après chaque tour de combat.</li>
</ul>

<h4>Pillage</h4>

<p>L'acier, la nourriture, l'uranium, les pierres de mana et le carburant sont pillés uniquement si vous avez de la portance disponible dans vos soutes.</p>
<p>Pour le pillage du crédit, consultez l'<a href="#espionnage">aide sur la page Espionnage</a>.</p>
<p>Pour piller de l'espace, il vous suffit de gagner le combat. Plus la bataille aura été courte, plus vous pillerez.</p>



<h3 id="major">Etat-Major</h3>

<p>La page d'état-major vous sert à gérer vos officiers et vos flottes. Vous pouvez à partir de cette page affecter à vos différents officiers les flottes que vous voulez, vous pouvez aussi créer à partir de ces pages de nouvelles flottes et de nouveaux officiers si vous en avez besoin.</p>
<p>Vos officiers gagnent de l'expérience lorsque vous détruisez des troupes adverses. Si l'un de vos officiers a acquis suffisamment d'expérience, vous pouvez lui faire gagner des points dans ses compétences. Attention la limite de niveau est de 50 (sauf sur Desertica) et l'amélioration maximum dans une compétence est de 15, vous ne pourrez donc pas avoir des généraux au "top", vous devrez faire des choix. Voici les différentes compétences :</p>
<ul>

  <li>Manoeuvres terrestres : augmente l'attaque et la défense de vos troupes au sol, sauf les mages, de 2% par niveau</li>
  <li>Manoeuvres aériennes : augmente l'attaque et la défense de vos troupes aériennes de 2% par niveau</li>
  <li>Maîtrise des arcanes : augmente l'attaque et la défense de vos mages de 2% par niveau</li>
  <li>Mobilité : augmente la vitesse de déplacement de vos flottes de 4% par niveau</li>
  <li>Destruction : augmente les dégats que font vos unités contre les structures ennemies de 2% par niveau</li>
  <li>Tactique : au début du combat, on lance un nombre de dés à dix faces égal au nombre de points dans la compétence Tactique. En comparant le total avec celui de l'adversaire, on obtient des bonus (ou malus) applicables à toutes les unités, pouvant aller de -10% à +10% sur les points d'attaque et de défense de chacune de vos unités. </li>

</ul>
<p>Vous pouvez gérer un maximum de 10 officiers.</p>


<h3 id="priorites">Priorités d'attaque</h3>
<p>Cette page vous permet d'orienter les tirs de vos unités. Les unités orientées vers Air tireront en priorité sur les unités aériennes ennemies, jusqu'à ce qu'il n'en reste aucune ; auquel cas elles tireront dans le vide, jusqu'au début du tour suivant où elles changeront automatiquement d'alignement.</p>


<h3 id="moral">Moral</h3>

<p>En haut de la page Etat-Major, vous pouvez voir le moral de vos troupes. Celui-ci varie de -100 à +100 (sauf sur Volcano, où il peut atteindre 127). Vous perdez du moral lors d'une défaite et en gagnez lors d'une victoire. Le moral monte également lentement avec le temps.</p>
<p>Un moral positif donne des bonus à l'attaque et à la défense de toutes vos unités, tandis qu'un moral négatif leur donne des malus. Les bonus (en pourcentages) sont calculés ainsi : BONUS (ou malus) = MORAL / 4.</p>


<h3 id="silo">Silos</h3>

<p>Cette page vous permet de gérer votre arsenal nucléaire. Les missiles disponibles sont visibles en haut de la page. Pour lancer une attaque nucléaire, vous devez sélectionner les missiles à lancer, la cible et cliquer sur le bouton.</p>

<p>Il y a deux types de dégâts appliqués aux structures : les dégâts groupés (on en détruit une, puis une autres, etc... en concentrant les points de dégâts) et les dégâts répandus sur toutes les structures (ex : 50 structures, 60 points de dégâts => les 50 perdent un PV, puis 10 d'entre elles en perdent un autre).</p>
<p>L'infrastructure de lancement vous permet d'améliorer la précision de vos missiles. Une précision importante vous permet d'augmenter les dégâts "groupés" lors d'une attaque nucléaire. Elle peut augmenter grâce au niveau de qualification des techniciens et au niveau technique de l'interface de lancement. Chaque niveau coûte un certain nombre de ressources qui augmente au fur et à mesure des niveaux. La fonction d'augmentation de qualification des techniciens et une fonction racine carrée tandis que l'autre est une exponentielle. Avec l'exponentielle les premiers niveaux ne vous apporteront pas grand-chose, mais les derniers (déblocables avec la science) vous apporteront énormément. Avec la fonction type racine, c'est le contraire... Pour être à 100% de précision, il faut être au niveau 50 dans les deux critères.</p>


<h3 id="antinucl">Défense anti-nucléaire</h3>

<p>Pour vous défendre contre les missiles, vous disposez d'un bouclier anti-nucléaire, qui se déploie autour de votre Etat lorsqu'on vous attaque. Ce bouclier est produit par des batiments, les générateurs de bouclier anti-nucléaire. Plus vous possédez de générateur, plus le maximum d'énergie accumulée dans votre bouclier est important.</p>
<p>Exemple : avec un générateur, votre bouclier possède 25 unités d'énergie au maximum. Avec quatre générateurs, la limite est de 50.</p>
<p>Lorsque vous possédez la recherche <em>Générateurs de bouclier anti-nucléaire avancés</em>, vous pouvez, à partir de la page structures, améliorer vos générateurs. Les générateurs améliorés produiront alors plus d'énergie pour le bouclier.</p>

<p>La capacité maximale de votre bouclier est calculée ainsi : <em>CAPACITE = 25 * RACINE CARREE(NOMBRE DE GENERATEURS DE BASE + 1.5 * NOMBRE DE GENERATEURS AVANCES)</em>.</p>
<p>Attention : lorsque vous venez de construire un générateur, cela augmente la capacité maximale du bouclier, mais pas l'énergie actuelle. Vous pouvez voir l'énergie accumulée en bas de la page gestion. Par exemple, si vous êtes à 35/50, vous devez placer des drones dans le générateur de bouclier anti-nucléaire pour que le bouclier se recharge.</p>
<p>Une fois la recherche <em>Source de bouclier anti-nucléaire</em> développée, vous pourrez construire des Sources. Ces structures renforcent le bouclier. Si vous en possédez au moins une, les dégats subis par votre bouclier seront diminués de 25%. Vous pouvez en construire plusieurs pour éviter une défaillance de la première, mais quel que soit le nombre de sources construites, les dégats seront toujours diminués de 25%.</p>


<h3 id="espionnage">Espionnage</h3>

<p>La page d'espionnage sert à recruter des techno-pirates. Ces as de l'informatique vous permettront de voler les crédits des Etats que vous attaquerez.</p>
<p>Lors de l'attaque d'un Etat, l'attaquant dispose d'un bonus de 25% sur ses techno-pirates. S'il en a alors plus que le défenseur, il pille une partie de ses crédits. Sinon, le défenseur tente à son tour de le piller, mais l'attaquant dispose alors de 50% de bonus sur ses techno-pirates.</p>
<p>Lorsqu'un pillage réussit, 70% des crédits de la cible sont volés.</p>


<h3 id="classement">Classement</h3>

<p>Le classement est une page qui vous permettra de vous évaluer par rapport aux autres états qui évoluent comme vous dans le jeu. Les états sont classés selon leur accumulation d'espace. Quand vous allez sur cette page vous verrez de gauche à droite: la position de l'état, son nom, sa planète, sa faction ou alliance, le nombre de jours actifs de l'état. Les Etats affichés en rouge sont "gelés" : ils sont inattaquables mais ne produisent pas (voir <a href="#gel">Gel</a>).</p>

<p>Si vous faites partie d'une faction ou d'une alliance, vous aurez accès à un classement des relations, grâce auquel vous pourrez voir quels sont les états neutres, amis, alliés, hostiles ou en pacte de non-aggression.</p>
<p>Enfin sachez que pour commencer les attaques il est toujours intéressant de savoir sur qui on va envoyer nos troupes et le classement est une aide très utile pour cela.</p>


<h3 id="alliances">Alliances</h3>

<p>La page d'alliance vous présente toutes les factions et alliances existantes actuellement dans le jeu, et vous donne la possibilité de les rejoindre. Sachez vous faire connaître sur le forum pour avoir plus de chances d'être accepté...</p>
<p>Lorsque vous quittez une alliance, vous devez attendre au moins 24h pour en rejoindre une à nouveau.</p>
<p>Cette page vous permet également de créer votre propre Faction. Pour cela, il vous faudra trouver un nom, Role-Play de préférence (sinon vous ne pourrez devenir une alliance ultérieurement), ainsi que 4 autres membres. Attention : si vous choisissez des membres sans avoir leur accord, votre Etat sera supprimé.</p>
<p>Quand une Faction atteint le nombre de dix membres, et que ses dix membres non gelés les plus puissants possèdent au total au moins 3000 usines, elle a la possibilité de devenir une Alliance. Pour cela, il vous faudra rédiger une charte et une histoire, et être actif dans le forum. Devenir une Alliance vous permet de recruter autant que vous le voulez, de posséder un marché et une messagerie d'alliance, de nommer plusieurs membres dans chaque ministère, etc...</p>
<p>Si les dix membres d'une alliance ayant le plus d'usines ont, suite à la destruction de bâtiments, moins de 3000 usines au total, l'alliance repasse faction (et perd donc tout le contenu de ses caisses).</p>


<h3 id="alliances2">Fonctionnalités des Alliances</h3>

<p><em>Les fonctions dont le nom est suivi du symbole (*) sont également  accessibles pour les Factions</em></p>

<ul>
  <li>
    <h4>News (*)</h4>
    <p>La news de l'Alliance est un texte rédigé par le chef qui s'affiche pour tous les membres sur la page Alliances. Utile pour transmettre des messages non urgents.</p>

  </li>
  <li>
    <h4>Mass MP</h4>
    <p>Permet au chef d'envoyer une missive à tous les membres de l'Alliance en un seul clic. Utile pour transmettre des messages urgents.</p>
  </li>
  <li>
    <h4>Administration de l'Alliance / de la Faction (*)</h4>

    <p>Permet au chef de supprimer l'Alliance, ou de demander la transformation d'une Faction en Alliance.</p>
  </li>
  <li>
    <h4>Gestion des responsabilités</h4>
    <p>Permet au chef de nommer des ministres ou des chefs d'Alliance.</p>
  </li>
  <li>

    <h4>Gestion de l'économie</h4>
    <p>Permet au ministre de l'économie de lever un impôt, et de redistribuer les fonds de l'Alliance à ses membres.</p>
    <p>Le ministre de l'économie a également la possibilité d'utiliser les ressources de l'Alliance pour acheter ou vendre à la Bourse, mais s'il n'est pas Galacticain, il devra payer la taxe...</p>
  </li>
  <li>
    <h4>Gestion du recrutement (*)</h4>
    <p>Permet au ministre du recrutement d'accepter ou de refuser des Etats qui demandent d'entrer dans l'Alliance.</p>

  </li>
  <li>
    <h4>Gestion des membres (*)</h4>
    <p>Permet au ministre du recrutement et au chef de faire quitter l'Alliance à certains membres.</p>
  </li>
  <li>
    <h4>Gestion de la diplomatie (*)</h4>

    <p>Permet au ministre de la diplomatie de décider des relations avec les autres Alliances, ainsi que des cibles autorisées des membres de l'Alliance.</p>
  </li>
  <li>
    <h4>Gestion de la messagerie</h4>
    <p>Permet au ministre de la diplomatie de contacter des Etats ou des Alliances.</p>
  </li>
</ul>

<h3 id="gel">Gel</h3>

<p>Outre les formulaires permettant de modifier vos informations personnelles, la page Compte vous permet de geler votre Etat. Cela vous permet, lorsque vous vous absentez plusieurs jours, de partir l'esprit tranquille : on ne pourra plus vous attaquer. De plus, votre Etat ne sera supprimé qu'après trois mois d'inactivité (contre deux semaines si vous n'êtes pas gelé). En contrepartie, ni vos recherches ni votre production n'évolueront.</p>
<p>La durée minimale de gel est de trois jours, et vous devez attendre au moins 24 heures entre deux gels. Lorsque vous activez le gel, la protection ne devient effective qu'après six heures.</p>


<h3 id="batiments">Les différents bâtiments de C2G</h3>

<ul>
  <li>Usines de drones : Bâtiment principal de C2G. Il permet de produire des drones. Chaque usine peut contenir un maximum de 20 drones, il y a un maximum de 500 usines sois 10 000 drones. [voir page gestion]</li>

  <li>Complexes catalytiques : Bâtiment servant à accélérer la production des ressources. Il se débloque grâce à la recherche magique Mana Altérée. Chaque complexe augmente la vitesse d'une ressource d'un certain pourcentage (1 au début, jusqu'à 2 grâce à des recherches). Vous choisissez la ressource à booster sur la page structure. Si vous avez "mal" choisi, vous pouvez annuler l'affectation d'un complexe catalytique à l'aide de la recherche magique Stabilisation de la mana.</li>
  <li>Bunkers de stockage : Bâtiment très résistant. Il sert au stockage de ressources.</li>
  <li>Silos : Les silos sont des bâtiments qui contiennent des missiles. Chaque missile est stocké dans un silo différent. Vous devez impérativement en construire pour créer des missiles.</li>
  <li>Centres de recherche : Bâtiments servant à accélérer la recherche scientifique. Le maximum de centres est de 200 sauf sur Aquablue ou il est de 300.</li>
  <li>Arcane Sanctums : Bâtiments servant à accélérer la recherche magique. Le maximum d'arcanes est de 200 sauf sur Vertana ou il est de 300.</li>
	<li>Générateurs de bouclier anti-nucléaire : <a href="#antinucl">Voir Défense anti-nucléaire</a></li>

	<li>Sources de bouclier anti-nucléaire : <a href="#antinucl">Voir Défense anti-nucléaire</a></li>
  <li>Tourelles : Bâtiments défensifs. Un round d'attaque en début de combat avant toute autre action, un round supplémentaire après les destructions de batiments, envoûtements et autres actions spéciales, puis un round d'attaque par tour de combat tant qu'il reste des unités au défenseur. Les tourelles à plasma peuvent attaquer le sol comme l'air, leur cible sera donc choisie au début de chaque tour de combat : elles attaqueront la position où il y a le plus d'ennemis. Pour gagner de l'expérience sur les unités détruites par les tourelles, il vous faut absolument avoir une unité en défense au début du combat. [voir <a href="#carac_tours">Caractéristiques des tourelles</a>]</li>
</ul>


<h3 id="mages">Les différents mages de C2G</h3>

<p>Les mages sont des unités à l'utilisation complexe, mais qui ne sont pas à négliger. Toutefois, une explication détaillée de leurs pouvoirs ne sera pas de trop pour les maîtriser.</p>

<p>Note : les mages ne sont pas formés par des drones, mais par les maîtres mages présents dans votre flotte numéro 0.</p>

<dl>
  <dt>Mages élémentaires</dt>
  <dd>
    <p>
      Il existe cinq types de mages élémentaires ; chacun d'eux est efficace contre un autre selon le cycle suivant : Terre > Eau > Feu > Métal > Bois > Terre.<br />
      Ainsi, en présence d'un mage Eau, tous les mages Feu feront moins de dégats. En présence d'un grand nombre de mages Eau, ils ne pourront plus rien faire du tout. Toutefois, en présence de mages Métal, ils seront renforcés et feront donc plus de dégats.<br />

      Chaque planète avantage un type de mage, à qui elle donne un bonus de 20%, et en gène un autre, qui se voit diminué de 20%.
    </p>
    <table class="visible">
      <thead>
        <tr>
          <td>Planète</td>
          <td>Avantage</td>
          <td>Désavantage</td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Galactica</td>
          <td>Métal</td>
          <td>Bois</td>

        </tr>
        <tr>
          <td>Aquablue</td>
          <td>Eau</td>
          <td>Feu</td>
        </tr>
        <tr>

          <td>Desertica</td>
          <td>Terre</td>
          <td>Eau</td>
        </tr>
        <tr>
          <td>Volcano</td>
          <td>Feu</td>

          <td>Métal</td>
        </tr>
        <tr>
          <td>Vertana</td>
          <td>Bois</td>
          <td>Terre</td>
        </tr>

      </tbody>
    </table>
    <p>
      <strong>Méthode de calcul de la puissance des mages élémentaires</strong><br />
      x = (Alliés favorisants - Alliés défavorisants + Ennemis favorisants - Ennemis défavorisants) / 2<br />
      Si on a le contrôle élémentaire niveau 2, y = 5. Si on n'a que le niveau 1, y = 4. Et si on n'a aucun des deux, y = 3.<br />
      Si x &gt;= 0 : bonus = 1 + y(1 - e<sup>-x/15000</sup>). Si x &lt; 0, bonus = e<sup>x/8000</sup><br />

      Dégats des mages (contre les unités) : 3 * bonus
    </p>
  </dd>
  
  <dt>Mages kamikazes</dt>
  <dd>
    Les mages kamikazes sont des unités peu coûteuses qui se suicident en début de combat pour éliminer une unité ennemie choisie aléatoirement. Leurs grands avantages sont leur potentiel de destruction à faible coût et leur faculté d'attaquer avant les autres unités, mais attention : ils ne fonctionnent ni contre les autres mages, ni contre les croiseurs, ils risquent donc de se suicider pour rien.<br />
    Toutefois, si vous possédez la recherche Suicide magique amélioré, vos kamikazes auront la capacité de détruire les croiseurs.<br />
    Lors de son suicide, le mage kamikaze projette toute son énergie vitale sous forme d'une attaque magique destructrice, cette attaque (qui n'est pas une bombe... ;)) est donc parable par les exorcistes.
  </dd>

  
  <dt>Techno-prêtres</dt>
  <dd>
    Les techno-prêtres sont des techno-guerriers normaux, sauf qu'à leur mort toute leur énergie vitale est projetée contre celui qui les a tué, ayant le même effet qu'un mage kamikaze. Toutefois, si la cible est un mage (ou un croiseur si vous n'avez pas le Suicide magique amélioré), cela ne fonctionnera pas. De plus, cette riposte n'est possible qu'après les premières salves du combat.
  </dd>
  
  <dt>Exorcistes</dt>
  <dd>
    <p>
      Les exorcistes ont pour mission de parer, voire de renvoyer les attaques magiques ennemies.<br />

Voici le fonctionnement des exorcistes au cours des différentes phases de combat :<br />
Phase 1 : Envoutements. Les exorcistes essayent de les parer.<br />
Phase 2 : Kamikazes. S'il reste des exorcistes qui n'ont pas agi durant la phase 1, ils essayent de parer et éventuellement de renvoyer.<br />
Phase 3 : Le combat "classique". A chaque tour, tous les exorcistes (même s'ils ont déjà agi) peuvent parer l'attaque d'un mage offensif.<br />

      Note : en raison de leur nature, les attaques des envoûteurs ne peuvent, contrairement à celles des kamikazes, être renvoyées à votre adversaire.<br />
      Attention : les exorcistes sont inefficaces contre tous les autres types de mages, y compris les techno-prêtres, qui utilisent un lien direct avec leur victime et dont l'attaque ne peut donc pas être parée.
    </p>
    <table class="visible">
      <thead>
        <tr>
          <td colspan="3">Chances de réussite</td>
        </tr>

        <tr>
          <td>Niveau des exorcistes</td>
          <td>Parade</td>
          <td>Renvoi</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>0</td>
          <td>55%</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>1</td>

          <td>75%</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>99%</td>
          <td>60%</td>

        </tr>
      </tbody>
    </table>
    <p>Remarque : un exorciste ne peut renvoyer une attaque de kamikaze que s'il l'a d'abord parée.</p>
  </dd>
  
  <dt>Invocateurs</dt>
  <dd>
    <p>

      Les invocateurs sont des spécialistes du travail de groupe : ils joignent leurs forces pour invoquer de gigantesques attaques magiques. Leur puissance dépend donc de leur nombre : seul, un invocateur ne fera presque aucun dégat. Mais en masse, chaque invocateur verra sa puissance décuplée. Attention toutefois : au dela de 5000 invocateurs dans la même flotte, leur marge de progression sera presque nulle...<br />
      Pour les matheux : si vous avez moins de 5000 invocateurs, les dégats par invocateurs valent (1.002027378^(Nombre d'invocateurs) - 0.9920273785) / (Nombre d'invocateurs). Au dela de 5000, ils valent (racine((Nombre d'invocateurs) - 5000) + 25000) / (Nombre d'invocateurs).<br />
      Chaque amélioration via la recherche augmente leurs dégats de 25%.
    </p>
  </dd>
  
  <dt>Mages défensifs</dt>
  <dd>
    Les mages défensifs déploient un bouclier individuel devant chacune des unités terrestres alliées. Bonus individuel du bouclier = total bouclier défensif / nombre d'unités terrestres. Le bouclier de base a une défense de 10, chaque niveau supplémentaire l'augmente de 25%. Le bouclier des mages défensifs ne protège que les unités terrestres, même si leur priorité d'attaque est Air ; car en plus de cela les mages défensifs font des dégâts.
  </dd>

  
  <dt>Mages offensifs</dt>
  <dd>
    Les mages offensifs lancent des sorts dévastateurs, mais qui peuvent être parés par des maîtres mages ou des exorcistes. Le sort de base fait dix dégats, chaque niveau supplémentaire l'augmente de 25%. Le sort est lancé à chaque tour de combat.
  </dd>
  
  <dt>Maîtres mages</dt>
  <dd>
    Les maîtres mages servent principalement à la formation des autres types de mages, mais peuvent également parer les attaques des mages offensifs. Pour former des mages, vous devez placer vos maîtres dans la flotte qui porte le numéro 0.
  </dd>
  
  <dt>Envoûteurs</dt>

  <dd>
    Les envoûteurs lancent leur attaque en début de combat, puis restent inactifs jusqu'à la fin de la bataille, en raison des importantes ressources énergétiques que nécessite leur sort. Il s'agit en effet de convertir à sa cause une unité ennemie, choisie aléatoirement. Celle-ci passe alors <strong>définitivement</strong> dans le camp de l'envoûteur. Toutefois, ce sort n'a aucun effet contre les mages, qui savent se défendre contre lui, et peut être paré par les exorcistes.
  </dd>
</dl>


<h3 id="divers">Questions diverses</h3>

<p>
  <strong>Pourquoi ne puis-je pas déplacer la flotte 0 ?</strong><br />
  Cette flotte ne sert qu'à la défense de votre Etat. Inutile de chercher, si vous voulez vous déplacer, il faudra en créer une autre...
</p>
<p>
  <strong>Peut-on annuler une attaque en cours ?</strong><br />
  Non, quand une flotte est en déplacement, vous ne pouvez pas l'arrêter. Toutefois, il est possible, une fois arrivé, de repartir sans lancer l'assaut...

</p>
<p>
  <strong>Qu'est-ce qu'un blocus ?</strong><br />
  Il existe deux types de blocus :
</p>
<ul>
    <li>Si vous bloquez un allié, vous empêchez les ennemis d'accéder à son Etat, mais vous ne gènez pas votre allié</li>
    <li>Si vous bloquez un ennemi, vous l'empêchez de commercer et de quitter son Etat. Toutefois, cela empêche également qu'il soit attaqué (sauf par vos alliés)...</li>
</ul>

<p>
  <strong>Comment fonctionne l'amélioration magique "Portail de téléportation" ?</strong><br />
  Une fois toutes les 24 heures tournantes, vous pouvez téléporter une de vos flottes depuis votre Etat vers n'importe quel autre. Pour cela, placez une flotte ou un groupe de flottes en défense de votre Etat. Dans le menu des actions, vous voyez apparaitre la téléportation.
</p>
<p>
  <strong>Que signifient les termes "RP" et "HRP" ?</strong><br />
  Je vous laisse consulter <a href="{{ path('rp') }}">cette page</a>... ;)
</p>
<p>

  <strong>Les officiers sont-ils réellement intéressants ?</strong><br />
  Et comment ! Amélioré au maximum par son officier et par la recherche, un croiseur est aussi puissant que trois croiseurs de base !
</p>

<p>
<strong>Qu'est-ce que le parrainage ?</strong><br />
Si vous faites découvrir le jeu à un ami, vous avez la possibilité de devenir son parrain. Pour cela, il faut que vous lui donniez l'ID de votre Etat (visible dans la page Compte) pour qu'il l'entre lors de son inscription.<br />
Vous (le parrain) gagnerez alors chaque semaine une quantité de crédits fonction de la position au classement de vos filleuls et de leur nombre d'usines.
</p>

<p>
<strong>Peut-on gérer un état à plusieurs ? Et plusieurs états ?</strong><br /> 
Comme indiqué dans le règlement que vous acceptez à votre inscription, il est strictement interdit de gérer plusieurs états (ceci est appelé du multi-compte, et est passible de lourdes sanctions). Il est également interdit de se connecter sur l'état d'un ami « pour l'aider un peu » (ceci s'appelle du pass-sharing).<br />
En revanche, il est autorisé de gérer un même état à plusieurs. Plusieurs personnes physiques peuvent donc gérer le même compte, si et seulement si chacune de ces personnes ne gère pas d'autre compte en même temps. (ceci s'appelle de la cogérance ou cogestion).<br />
Si vous êtes obligés de vous connecter sur plusieurs Etats à partir du même ordinateur (membre de la famille qui joue, connexion à partir d'un lieu public...), il vous faut avertir les administrateurs du jeu. Certaines règles vous seront alors imposées (comme l'interdiction de commerce entre les deux comptes). Si vous respectez ces règles à la lettre, vous aurez alors le droit de continuer à jouer sans être inquiété.
</p>

<p>
<strong>Que sont les Sphères ?</strong><br />
Les cinq sphères sont un élément important du background du jeu. Vous pourrais trouver plus d'infos les concernant <a href="{{ path('univers') }}">ici</a>.<br />
Dans le jeu, elles sont représentées sous la forme de petites boules affichées à côté de votre nom d'état dans le classement. Lorsque vous en avez, votre production de ressources augmente (de 3% par sphère possédée). Pour en obtenir, il faut réussir à gagner une attaque contre un état qui en possède une. Vous verrez alors une indication dans le rapport de combat comme quoi vous avez réussi à voler une sphère. Lorsque vous volez une sphère elle est immédiatement téléportée sur votre état et vous devez alors la protéger. Une sphère met un petit moment à devenir visible sur le classement pour vous éviter de la reperdre immédiatement.
</p>





<p><em>Aide réalisée à l'aide de Zeross, Archane et daemon, merci à eux.</em></p>


</div>





<div class="centre">

<h3 id="carac_unites">Caractéristiques des unités</h3>

<p>Les caractéristiques ci-dessous ne prennent en compte ni les améliorations dues à la recherche, ni les bonus offerts par les officiers, ni ceux dûs au moral.</p>
<p>Un slash ("/") indique que l'unité concernée ne dispose pas de cette caractéristique (par exemple parce qu'elle ne peut pas attaquer). Un tilde ("~") indique que la caractéristique varie suivant une formule spécifique à l'unité. Cela concerne principalement les mages, se reporter à <a href="#mages">la section concernée</a>.</p>

<table>
<thead>
<tr>
	<td>Unité</td>
	<td>Attaque</td>
	<td>Destruction</td>
	<td>Défense</td>
	<td>Portance</td>
	<td>Consommation</td>
	<td>Expérience</td>
</tr>
</thead>
<tbody>
<tr>
	<td style="font-weight: bold">Techno-guerrier</td>
	<td>2</td>

	<td>1</td>
	<td>1</td>
	<td>-1</td>
	<td>0</td>
	<td>0.5</td>
</tr>
<tr>

	<td style="font-weight: bold">Saboteur</td>
	<td>/</td>
	<td>5+</td>
	<td>1</td>
	<td>-1</td>
	<td>0</td>

	<td>0.7</td>
</tr>
<tr>
	<td style="font-weight: bold">Char laser</td>
	<td>5</td>
	<td>7</td>
	<td>7</td>

	<td>-5</td>
	<td>1</td>
	<td>2.3</td>
</tr>
<tr>
	<td style="font-weight: bold">Char à plasma</td>
	<td>9</td>

	<td>6</td>
	<td>6</td>
	<td>-5</td>
	<td>1</td>
	<td>2.5</td>
</tr>
<tr>

	<td style="font-weight: bold">Char nucléaire</td>
	<td>9</td>
	<td>12</td>
	<td>4</td>
	<td>-7</td>
	<td>1</td>

	<td>3</td>
</tr>
<tr>
	<td style="font-weight: bold">Artillerie</td>
	<td>/</td>
	<td>125+</td>
	<td>19</td>
	<td>-16</td>
	<td>0.5</td>
	<td>10</td>
</tr>
<tr>
	<td style="font-weight: bold">Mage terre</td>
	<td>3~</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>1.2</td>
</tr>
<tr>

	<td style="font-weight: bold">Mage métal</td>
	<td>3~</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>1.2</td>
</tr>
<tr>
	<td style="font-weight: bold">Mage eau</td>
	<td>3~</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>1.2</td>
</tr>
<tr>
	<td style="font-weight: bold">Mage bois</td>
	<td>3~</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>1.2</td>
</tr>
<tr>

	<td style="font-weight: bold">Mage feu</td>
	<td>3~</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>1.2</td>
</tr>
<tr>
	<td style="font-weight: bold">Mage kamikaze</td>
	<td>/</td>
	<td>/</td>
	<td>/</td>
	<td>-1</td>
	<td>0</td>
	<td>0</td>
</tr>
<tr>
	<td style="font-weight: bold">Techno-prêtre</td>
	<td>2</td>
	<td>1</td>
	<td>1</td>
	<td>-1</td>
	<td>0</td>
	<td>0.8</td>
</tr>
<tr>

	<td style="font-weight: bold">Exorciste</td>
	<td>/</td>
	<td>/</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>0.6</td>
</tr>
<tr>
	<td style="font-weight: bold">Invocateur</td>
	<td>~</td>
	<td>~</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>0.6</td>
</tr>
<tr>
	<td style="font-weight: bold">Mage défensif</td>
	<td>2</td>
	<td>1</td>
	<td>3</td>
	<td>-1</td>
	<td>0</td>
	<td>1.8</td>
</tr>
<tr>

	<td style="font-weight: bold">Mage offensif</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>-1</td>
	<td>0</td>
	<td>2</td>
</tr>
<tr>
	<td style="font-weight: bold">Envoûteur</td>
	<td>/</td>
	<td>/</td>
	<td>1</td>
	<td>-1</td>
	<td>0</td>
	<td>2.1</td>
</tr>
<tr>
	<td style="font-weight: bold">Maître mage</td>
	<td>5</td>
	<td>5</td>
	<td>3</td>
	<td>-1</td>
	<td>0</td>
	<td>2.1</td>
</tr>
<tr>

	<td style="font-weight: bold">Transport</td>
	<td>1</td>
	<td>0</td>
	<td>5</td>
	<td>100</td>
	<td>1.5</td>
	<td>1.4</td>
</tr>
<tr>
	<td style="font-weight: bold">Gros porteur</td>
	<td>/</td>
	<td>/</td>
	<td>10</td>
	<td>200</td>
	<td>2</td>
	<td>2.4</td>
</tr>
<tr>
	<td style="font-weight: bold">Chasseur</td>
	<td>7</td>
	<td>5</td>
	<td>5</td>
	<td>1</td>
	<td>1</td>
	<td>2.4</td>
</tr>
<tr>

	<td style="font-weight: bold">Chasseur nucléaire</td>
	<td>10</td>
	<td>10</td>
	<td>5</td>
	<td>1</td>
	<td>1</td>
	<td>3</td>
</tr>
<tr>
	<td style="font-weight: bold">Bombardier</td>
	<td>/</td>
	<td>30+</td>
	<td>5</td>
	<td>1</td>
	<td>1</td>
	<td>3</td>
</tr>
<tr>
	<td style="font-weight: bold">Croiseur</td>
	<td>12</td>
	<td>12</td>
	<td>12</td>
	<td>100</td>
	<td>3</td>
	<td>4.9</td>
</tr>
<tr>

	<td style="font-weight: bold">Cuirassier</td>
	<td>15</td>
	<td>12</td>
	<td>15</td>
	<td>120</td>
	<td>5</td>
	<td>5.8</td>
</tr>
<tr>
	<td style="font-weight: bold">Solar</td>
	<td>1500</td>
	<td>1200</td>
	<td>1500</td>
	<td>12000</td>
	<td>500</td>
	<td>576</td>
</tr>
<tr>
	<td style="font-weight: bold">Leurre</td>
	<td>/</td>
	<td>/</td>
	<td>1</td>
	<td>-1</td>
	<td>0.5</td>
	<td>0.1</td>
</tr>
<tr>

	<td style="font-weight: bold">Leurre aérien</td>
	<td>/</td>
	<td>/</td>
	<td>1</td>
	<td>-1</td>
	<td>0</td>
	<td>0.1</td>
</tr>
</tbody>
</table>


</div>






<div class="centre">

<h3 id="carac_tours">Caractéristiques des tourelles</h3>

<table class="visible">
<thead>
  <tr>
    <td>Tour</td>
    <td>ATQ</td>

    <td>HP</td>
    <td>Attaque</td>
  </tr>
</thead>

<tbody>
<tr>
  <td>Tourelle laser</td>
  <td>15.625</td>

  <td>70</td>
  <td>Sol</td></tr><tr>
  <td>Tourelle anti-aérienne</td>
  <td>15.625</td>
  <td>70</td>
  <td>Air</td></tr><tr>

  <td>Tourelle nucléaire</td>
  <td>23.4375</td>
  <td>60</td>
  <td>Sol</td></tr><tr>
  <td>Tourelle à plasma</td>
  <td>15.625</td>

  <td>70</td>
  <td>Sol et Air</td></tr>
</tbody>
</table>

</div>







<div class="centre">

<h3 id="carac_missiles">Caractéristiques des missiles</h3>

<table class="visible">
<thead>
  <tr>
    <td>Missile</td>
    <td>Bouclier</td>
    <td>Batiments</td>

    <td>Unités</td>
  </tr>
</thead>

<tbody>
<tr>
    <td>Missile GS-26</td>
    <td>3</td>
    <td>10000</td>

    <td>120</td>
    </tr><tr>
    <td>Missile nucléaire tactique</td>
    <td>10</td>
    <td>100000</td>
    <td>1500</td>

    </tr><tr>
    <td>Missile nucléaire stratégique</td>
    <td>35</td>
    <td>750000</td>
    <td>11000</td>
    </tr><tr>
    <td>Canon à particules</td>

    <td>70</td>
    <td>2000000</td>
    <td>25000</td>
    </tr><tr>
    <td>Missile IEM</td>
		<td>100</td>

    <td colspan="2">Désactive tourelles et communications pendant une heure</td>
    </tr>
</tbody>
</table>


{% endblock %}
