{% extends "base.html.twig" %}

{% block body %}
<h2>Annexe</h2>

<p>Ce site web a été réalisé dans le cadre du Stage d'Informatique pour l'Ingénieur de l'ENSTA, en septembre 2008. J'ai choisi de créer un site présentant Chroniques de Galactica, jeu multijoueurs que j'ai créé il y a plusieurs années, dans le but d'effectuer un travail utile, et non un simple ensemble de pages web destinées à être reléguées dans l'oubli à l'issue du stage.</p>




<h4>Historique du jeu</h4>

<p>J'ai tout d'abord décidé de m'atteler à un historique complet du jeu, que ce soit sur le plan de sa conception comme sur celui des événements internes au jeu.</p>

<p>Pour la première partie, je me suis basé sur une ébauche d'historique déjà présente sur le site du jeu. Cependant, celle-ci ne pouvait m'aider que sur une période très restreinte (de mars 2004 à septembre 2005), pour la suite j'ai donc dû faire appel à ma mémoire, en particulier jusqu'à septembre 2006. A partir de cette date, je disposais des anciennes news du jeu, que j'ai récupéré en codant un petit script php, et qui m'ont donné des indications chronologiques plus précises.</p>

<p>Afin d'obtenir des images des anciennes versions du jeu, je me suis mis en quête des sources de ces dernières. Je n'utilise un logiciel de gestion des versions que depuis un an et demi environ, il m'a donc fallu me plonger dans les tréfonds de mes disques durs externes (par téléphone interposé) pour enfin trouver les archives recherchées. Cependant, des évolutions dans les serveurs utilisés par mon jeu (sortie de php5, de MySQL 5, modifications de leur configuration par défaut...) ainsi que des changements dans mes choix d'encodage au fil des ans ont rendu extrêmement délicat le redéploiement des anciennes versions. Pour la plus ancienne, cela a même nécessité une réécriture partielle de certains scripts.</p>

<p>Quant à l'historique des événements du jeu, la réunion des informations fut autrement plus difficile : mes souvenirs des débuts du jeu étaient trop lointains, et je n'avais pas été très présent dans les versions plus récentes, en raison d'un emploi du temps trop chargé par ailleurs. Par conséquent, j'ai fouillé les archives des divers forums qu'a connu le jeu au fil des ans, et j'ai surtout fait appel aux souvenirs de plusieurs « anciens » du jeu. Cela m'a permis de reconstituer de vastes pans des Chroniques de Galactica, mais de nombreuses zones d'ombre demeurent (notamment concernant la version 1 et le début de la version 2) qui seront, je l'espère, éclaircies sous peu.</p>




<h4>Manuel du jeu</h4>

<p>Lors de la conception des Chroniques de Galactica, mon objectif était d'en faire un jeu complexe, offrant une multitude de possibilités stratégiques. Ce pari est réussi : chaque fois que je rencontre certains de mes joueurs, ils m'en apprennt de nouvelles, auxquelles je n'avais jamais pensé. Cependant, une telle diversité a un coût : le jeu est difficile d'accès, et nombreux sont les nouveaux joueurs qui abandonnent après quelques jours ou semaines, rebutés par sa complexité apparente.</p>

<p>Le manuel du jeu a donc toujours représenté un enjeu majeur, mais les diverses tentatives de création d'un guide simple et accessible n'ont toujours connu qu'un succès mitigé. J'ai donc décidé de compiler les différents fichiers réalisés au cours des ans, de les corriger, de les remettre au goût du jour (certaines informations étaient devenues obsolètes ou incomplètes suite aux nombreuses mises à jour du jeu), et surtout de les simplifier pour les rendre plus accessibles.</p>

<p>De ce travail sont ressortis deux documents : un guide pour débutants, présentant en quelques points les actes à accomplir pour bien se lancer dans le jeu en évitant les écueils classiques, et une aide beaucoup plus détaillée (et indigeste), détaillant point par point les différents modules du jeu, et même abordant certains aspects complexes, telles que les formules mathématiques utilisées par l'algorithme de combat pour certains types d'unités. Ce manuel a pour objectif de couvrir la majorité des questions que les joueurs peuvent être amenés à se poser au cours de leur expérience ludique, permettant ainsi l'élaboration de stratégies avancées, tout en laissant volontairement de côté certains points de détail par trop complexes (sur lesquels les joueurs peuvent se renseigner en posant des questions sur le forum du jeu).</p>




<p><em>Aurélien Fredouelle, promo 2011</em></p>

</div>





<div class="centre">

<h3>Outils utilisés</h3>

<ul>
<li><strong>Editeurs de texte</strong> : emacs, eclipse</li>
<li><strong>Retouche d'images</strong> : The GIMP</li>
<li><strong>Captures d'écran</strong> : KSnapshot</li>
<li><strong>Gestion des versions</strong> : Subversion</li>
<li><strong>Système d'exploitation</strong> : kubuntu 8.04.1 « Hardy Heron »</li>
</ul>

{% endblock %}
