<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chroniques de Galactica</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- Banniere -->
        <div style="text-align:center"><a href="{{ path('index') }}"><img src="{{ asset('images/ban.gif') }}" alt="Banniere de Chroniques de Galactica" /></a></div>

        <!-- Menu à gauche de l'ecran -->
        <div id="gauche">
        <div class="structure_cadre">
            <div class="cadre_top"></div>
            <div class="cadre_mid">
                <a href="https://chroniquesgalactica.org">Accès au jeu</a><br />
                <a href="https://forum.chroniquesgalactica.org">Forum</a>
            </div>
            <div class="cadre_bot"></div>
        </div>

        <div class="structure_cadre">
            <div class="cadre_top">Historique</div>
            <div class="cadre_mid">
                <a href="{{ path('historique', {page: 1}) }}">Version 1</a><br />
                <a href="{{ path('historique', {page: 2}) }}">Version 2</a><br />
                <a href="{{ path('historique', {page: 3}) }}">A venir</a>
            </div>
            <div class="cadre_bot"></div>
        </div>

        <div class="structure_cadre">
            <div class="cadre_top">Manuel</div>
            <div class="cadre_mid">
                <a href="{{ path('debuter') }}">Bien débuter</a><br />
                <a href="{{ path('aide') }}">Aide détaillée</a><br />
                <a href="{{ path('rp') }}">Role-Play</a><br />
                <a href="{{ path('univers') }}">Univers</a>
            </div>
            <div class="cadre_bot"></div>
        </div>
        </div>

        <div class="centre">
        {% block body %}{% endblock %}
        </div>

        <!-- Pied de page -->
        <div id="footer">
                <p><a href="{{ path('annexe') }}">SII Ensta</a> : Présentation C2G 1.0.1 | Edité par Aurélien Fredouelle</p>
            <p><a href="http://www.copyrightdepot.com/rep80/00039292.htm"><img src="{{ asset('images/copyright.gif') }}" alt="Copyright" /></a><br />00039292</p>

            <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" /></a>
                <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" height="31" width="88" /></a>
            </p>
        </div>
    </body>
</html>
