{% extends "base.html.twig" %}

{% block body %}
<p>Cette page a pour objectif de vous aider à bien démarrer dans les Chroniques de Galactica. Elle a été réalisée en collaboration avec trois joueurs : Sol Bianca, Légion Noire et Zeross. Attention : il ne s'agit ici que de quelques conseils basiques, en aucun cas d'un guide détaillé du jeu. Pour aller plus loin, je vous conseille de vous reporter à <a href="{{ path('aide') }}">cette page</a>.</p>

</div>






<div class="centre">

<h3>Les ressources au démarrage</h3>

<h5>Problème</h5>
<p>Quelle que soit la planète où il est situé, un nouvel État aura toujours besoin de plus de ressources que ce qu'il peut initialement produire.</p>

<h5>Objectif</h5>
<p>Le premier objectif sera donc d'augmenter les revenus. Pour cela, la seule solution fiable est l'augmentation du nombre de drones.</p>

<h5>Un peu de théorie</h5>
<p>Les drones sont les unités chargées de la production des ressources, de la construction des structures et des unités. Il est important d'en avoir un nombre conséquent.</p>
<p>Pour construire des drones, vous devez posséder des Usines de drones. Chaque usine peut contenir jusqu'à 20 drones.</p>

<h5>En pratique</h5>
<p>Commencez par placer tous vos drones dans le Complexe sidérurgique, pour produire de l'acier. Dès que vous en avez assez, passez aux crédits (Centre boursier), puis à l'espace (Centre d'exploration spatiale). Il est important de produire les ressources dans cet ordre afin de conserver le moins longtemps possible les ressources les plus faciles à piller.</p>

<p style="text-align:center"><a href="{{ asset('images/guideDebutant/production_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/production_small.png') }}" alt="Screenshot" /></a></p>

<p>Une fois tous les matériaux nécessaires réunis, achetez des drones, et des usines quand nécessaire. Pour cela, allez sur la page Achat, ligne "Drones", et achetez le maximum.</p>

<p style="text-align:center"><a href="{{ asset('images/guideDebutant/achat_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/achat_small.png') }}" alt="Screenshot" /></a></p>

<p>Vous venez d'acheter un drone, mais il n'est pas encore prêt à l'emploi : il vous faut le construire. Là encore, ce sont vos drones qui vont faire le travail : pour effectuer la construction, retournez sur la page Gestion et placez-les dans l'Usine de drone. Pour la construction des usines, c'est le même principe, mais il faut placer vos drones dans le Chantier de construction.</p>

<p style="text-align:center"><a href="{{ asset('images/guideDebutant/construction_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/construction_small.png') }}" alt="Screenshot" /></a></p>

<h5>Conseil</h5>
<p>Pour aller plus vite, il faut toujours produire et construire tous les drones possibles. Ce sont eux qui produisent les ressources et les bâtiments, pas les usines de drones vides...</p>

</div>





<div class="centre">



<h3>La sauvegarde des ressources</h3>

<h5>Problème</h5>
<p>Un État indépendant se fait attaquer très souvent. Une partie de sa production disparaît donc quasiment chaque jour s'il ne prend pas un minimum de précautions.</p>

<h5>Objectif</h5>
<p>Mettre à l'abri les ressources accumulées.</p>

<h5>En pratique</h5>
<p>Le meilleur endroit pour cacher des ressources est sans conteste le Bunker de stockage, où elles seront intouchables par vos ennemis. Pour cela, rendez-vous sur la page Stockage et protégez vos ressources. A faire régulièrement !</p>
<p>Pour stocker une quantité plus importante de ressources, il faudra construire d'autres bunkers.</p>

<p style="text-align:center"><a href="{{ asset('images/guideDebutant/stockage_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/stockage_small.png') }}" alt="Screenshot" /></a></p>



</div>





<div class="centre">



<h3>Mener votre première attaque</h3>

<h5>Enjeu</h5>
<p>Attaquez les autres états pour piller des ressources et vous développer plus vite.</p>

<h5>Objectif</h5>
<p>Savoir créer et déplacer une flotte.</p>

<h5>En pratique</h5>

<p>Il vous faudra d'abord acheter et construire des unités d'attaque. Pour lancer une attaque vous devez avoir assez de portance, il est donc conseillé de privilégier les unités aériennes, comme les chasseurs ou les transports. </p>
<p>Commençons par aller dans la page armée.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/armee1_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/armee1_small.png') }}" alt="Screenshot" /></a></p>
<p>Comme vous le voyez, vous ne possédez initialement qu'une seule flotte (la flotte 0), qui ne peut pas être déplacée. Vous devez donc vous diriger vers la page État-major pour pouvoir créer une seconde flotte.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/major1_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/major1_small.png') }}" alt="Screenshot" /></a></p>
<p>Au début, vous ne possédez qu'un seul officier. Pour pouvoir créer une flotte, vous devez donc d'abord en créer un second.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/major2_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/major2_small.png') }}" alt="Screenshot" /></a></p>
<p>Une fois le second officier enrôlé, un bouton pour créer une seconde flotte apparaît. Retournez ensuite sur la page armée.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/armee2_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/armee2_small.png') }}" alt="Screenshot" /></a></p>
<p>Vous voilà maintenant propriétaire de deux flottes. Vous devez maintenant remplir la nouvelle flotte d'unités et de carburant. Pour cela, cliquez sur la flotte 0 pour y prendre des unités.</p>
<p style="text-align:center">
	<a href="{{ asset('images/guideDebutant/armee3_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/armee3_small.png') }}" alt="Screenshot" /></a>
	<a href="{{ asset('images/guideDebutant/forces_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/forces_small.png') }}" alt="Screenshot" /></a>
</p>
<p>Dans cet exemple, ma flotte 0 contient 6 maîtres mages, 1 transport et 1 chasseur. J'ai demandé à transférer le chasseur dans la flotte 1.</p>
<p>Maintenant, votre flotte possède une unité. Vous pouvez regarder les statistiques de votre flotte 1 en cliquant dessus.</p>
<p style="text-align:center"><a href="images/guideDebutant/stats1_big.png') }}"><img class="miniature" src="images/guideDebutant/stats1_small.png') }}" alt="Screenshot" /></a></p>
<p>Comme vous le voyez, il manque du carburant pour pouvoir se déplacer. Cliquez donc sur gérer la cargaison.</p>
<p style="text-align:center">
	<a href="{{ asset('images/guideDebutant/cargaison1_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/cargaison1_small.png') }}" alt="Screenshot" /></a>
	<a href="{{ asset('images/guideDebutant/cargaison2_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/cargaison2_small.png') }}" alt="Screenshot" /></a>
</p>
<p>Vous devez mettre du carburant dans votre flotte. Comme l'indique l'image, j'ai décidé dans cet exemple de mettre 2 unités de carburant dans ma flotte (1 aller-retour pour un chasseur, vu qu'il consomme 1 de carburant par voyage).</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/stats2_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/stats2_small.png') }}" alt="Screenshot" /></a></p>
<p>La flotte possède maintenant assez de carburant, elle peut donc être déplacée. Cliquez sur Sortir du hangar.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/armee4_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/armee4_small.png') }}" alt="Screenshot" /></a></p>
<p>Votre flotte est maintenant en attente devant votre état. Vous devez décider quel état vous allez attaquer. Pour cela, je vous conseille de regarder le classement. Vous y verrez la position de chaque joueur, l'espace occupé par son état, et son nombre de jours de jeu. </p>
<p>Il est bien entendu déconseillé de s'attaquer à un état trop haut en espace (risque de perdre) ou trop vieux. De plus, vous ne pouvez lancer une attaque sur un état que si l'espace total occupé par votre flotte est inférieur à l'espace total occupé par cet état.</p>
<p>Revenons à votre flotte en attente. Demandez lui de se déplacer vers l'état que vous avez choisi d'attaquer.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/choixCible_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/choixCible_small.png') }}" alt="Screenshot" /></a></p>
<p>Dans cet exemple, j'ai choisit d'attaquer l'état appelé Solarian (ceci est un exemple, n'allez pas tous attaquer ce pauvre état pour commencer ou il va m'en vouloir ^^).</p>
<p>Le gel est un mode permettant de protéger les États des joueurs partant en vacances. Vous pouvez vous déplacer sur un état gelé, mais vous ne pouvez pas l'attaquer.</p>
<p>Une fois que vous avez donné l'ordre de se déplacer, votre flotte est affichée en approche de l'état ciblé. Si vous la sélectionnez, vous verrez son temps de déplacement.</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/deplacement_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/deplacement_small.png') }}" alt="Screenshot" /></a></p>
<p>Une fois arrivé, vous pouvez donner l'ordre d'attaquer. S'il y a un blocus, vous devrez d'abord le détruire avant de pouvoir attaquer l'Etat. Attention : votre cible peut également vous attaquer lorsque vous êtes en attente devant son Etat...</p>
<p style="text-align:center"><a href="{{ asset('images/guideDebutant/attaque_big.png') }}"><img class="miniature" src="{{ asset('images/guideDebutant/attaque_small.png') }}" alt="Screenshot" /></a></p>



</div>







<div class="centre">

<h3>La sauvegarde des avantages initiaux</h3>

<h5>Problème</h5>
<p>Un gros problème quand on joue sans appartenir à une alliance, c'est la fréquence des attaques qu'on subit. La première attaque arrive toujours très tôt dans le jeu et toujours avant qu'on ne s'y attende.</p>

<h5>Objectif</h5>
<p>Mettre à l'abri ses unités initiales (1 transport et 5 chasseurs pour Aquablue, 5 chars nucléaires pour Volcano, 5 maitres mages pour Vertana, 10 chars lasers et 20 techno-guerriers pour Desertica, Galactica n'est pas concernée car ses unités initiales sont des drones supplémentaires, indestructibles).</p>

<h5>En pratique</h5>
<p>La solution à ce problème est toute simple : la création d'une flotte. Pour cela, reportez-vous au début du point précédent.</p>
<p>La suite se passe sur la page Armée : sélectionnez votre flotte, choisissez "Gérer les forces", et déplacez les unités anciennement contenues dans la flotte 0 vers cette nouvelle flotte. Tant que celle-ci restera en hangar, vos unités ne pourront être détruites.</p>


</div>






<div class="centre">



<h3>Limiter les attaques</h3>

<h5>Objectif</h5>
<p>Limiter le nombre d'attaques subies chaque jour.</p>

<h5>En pratique</h5>
<p>Le meilleur moyen de ne pas subir beaucoup d'attaques, c'est de se montrer moins rentable que les autres. Pour cela il y a trois solutions :</p>
<ul>
<li>Limiter le bénéfice de l'attaquant. En clair, il faut limiter au maximum la quantité de ressource qui peut être volée (voir ci-dessus) en ne produisant que ce qui est nécessaire et en utilisant tout ce qu'on peut dès qu'on le peut. Evidement, cela nécessite de se connecter plusieurs fois par jour pour dépenser ce que l'état à produit.</li>
<li>Augmenter le temps perdu par l'adversaire pour attaquer. Pour cela, il suffit de mettre une flotte d'un chasseur en blocus devant son état. L'attaquant sera obligé d'attendre une heure entre deux attaques, à moins qu'il ne se décide à envoyer une seconde flotte. Cette solution est de plus en plus couramment utilisée.</li>
<li>Augmenter les dépenses de l'adversaire. Pour cela, il faut réussir à lui faire perdre des unités.<br />
Une solution est d'avoir une flotte beaucoup plus importante que celle de l'adversaire. Pour donner un ordre d'idée, la plupart du temps, 3 à 4 chasseurs suffisent pour en détruire un seul sans pertes, même si la révolte gronde dans vos rangs et que le moral est au beau fixe chez l'adversaire. Bien entendu, il faut que vous soyez connecté lorsque votre bourreau viendra vous rendre visite. Malgré tout, ce rapport de 3 à 4 contre 1 pourra se révéler insuffisant si la flotte adverse est commandée par un des meilleurs officiers du jeu. Prudence, donc !<br />
L'autre solution efficace pour être moins rentable est d'attaquer avec une flotte contenant des envouteurs. Ceux-ci essaieront de rallier une partie de la flotte adverse à votre cause. Grace à cela, l'attaque de votre adversaire sera moins rentable vu qu'il sera obligé de produire de nouvelles unités pour compenser celles que vous lui avez volées. Cette solution nécessite cependant que vous ayez débloqué les envoûteurs grâce à la recherche.<br />
La troisième méthode, de loin la plus efficace, mais aussi la plus coûteuse, est de construire des tourelles terrestres et anti-aériennes afin de détruire la flotte de pillage de votre adversaire. Cette technique est très efficace si votre nombres de tourelles est conséquent. L'inconvénient est que les tourelles sont peu résistantes, il vous faudra donc souvent réparer celles-ci...</li>
</ul>
<p>Petite astuce : pour gagner quelques secondes au moment où vous voulez sortir une flotte du hangar, garnissez toujours les soutes de votre flotte de suffisament de carburant pour la déplacer et donc attaquer une flotte adverse. Pour voir la comsommation de votre flotte, allez dans Armée, sélectionnez votre flotte puis cliquez sur "Afficher les informations".</p>


</div>






<div class="centre">




<h3>La diplomatie au service d'un joueur autonome</h3>

<h5>Objectif</h5>
<p>Avoir de bons contacts pour éviter les problèmes.</p>

<h5>En pratique</h5>
<p>Oubliez tout de suite la diplomatie par les armes. Vous êtes seul contre des joueurs qui sont généralement mieux armés que vous ou qui font partie d'une alliance. Si vous les menacez, la seule réponse que vous obtiendrez, c'est de voir débarquer chez vous une flotte encore plus grande. En tant qu'indépendant, vous ne pouvez pas compter non plus sur l'appartenance à une alliance pour faire peur à vos adversaires. En fait, la diplomatie qui est à votre disposition est toute autre, et beaucoup plus subtile. Elle va des discussions sur le forum du jeu jusqu'aux discussions msn en passant par les messages envoyés suite aux attaques ou à l'approche de flottes.</p>
<p>L'objectif de la diplomatie d'un joueur autonome n'est pas d'exiger des remboursements ou de faire appel à la pitié des autres joueurs, mais de créer des liens amicaux avec d'autres joueurs : un joueur classique aura tendance à ne pas attaquer les joueurs avec qui il s'entend bien et ira plutôt enquiquiner ceux qu'il ne connait pas du tout. C'est donc un gros bénéfice pour un indépendant que de participer à la vie du forum du jeu. Il faut savoir aussi que se faire connaitre positivement peut faire pencher les débats en votre faveur quand vous essaierez de rejoindre une alliance. Dans le meilleur des cas, il peut arriver de recevoir des propositions d'un ministre du recrutement d'une alliance afin d'en faire partie.</p>


</div>






<div class="centre">




<h3>Le mode VIP</h3>

<h5>Objectif</h5>
<p>Utiliser au mieux les avantages des options payantes</p>

<h5>En pratique</h5>
									  <p>Dans tout ce qui précède, j'ai passé un élément sous silence car c'est un élément payant : le compte VIP. Le compte VIP est un abonnement de 15 jours (ou 30 selon la nature de celui-ci : or ou argent) permettant de disposer de quelques options supplémentaires. Quand on est joueur indépendant, le compte VIP est un allié très intéressant, en particulier grâce à trois des options supplémentaires qu'il nous donne : la planification (VIP Or), le réglage des drones par objectifs de production à atteindre (VIP Argent) et l'affichage des durées de vol de toutes les flottes en approche d'un état où se trouve une de vos flottes (VIP Or). Pour plus d'informations sur les avantages payants, rendez-vous sur la page Espace VIP.</p>

<p>La planification permet de dépenser automatiquement 4 fois par jour (6h du matin, midi, 18h et minuit) les ressources acquises. Cela permet d'éviter que des stocks trop importants restent sur votre État, à la merci des pilleurs.</p>

<p>Le réglage des drones par objectif de production permet de produire les proportions exactes de matières dont vous avez besoin, et ce sans craindre d'obtenir beaucoup plus de crédit que nécessaire (exemple pris au hasard). Par exemple, si vous voulez produire des maitres mages pendant toute la journée, il vous faut 320 de nourriture pour 540 de mana et 2 d'espace. Si on devait régler les drones à la main, on risquerait de produire beaucoup trop d'une matière. Par contre, si on les règle avec le système VIP, on n’aura qu'un très faible décalage par rapport aux proportions demandé.</p>

<p>L'obtention de la durée de vol des flottes en approche est un avantage important pour deux raisons :</p>
<ul>
<li>Cela permet de dépenser le maximum de ressources juste avant l'arrivée d'une flotte ennemie.</li>
<li>Cela permet de détruire les plus petites flottes sans risque de voir débarquer une flotte adverse plus grande avant que vous ne l'ayez détruite. Pour cela, il suffit de sortir une de vos flottes du hangar et de la mettre immédiatement en blocus, et ce dans les dernières minutes avant l'arrivée de l'ennemi. Ensuite, vous gardez affichés les détails de la flotte adverse : la page Armée se rafraîchira dés son arrivée. Il ne vous reste plus qu'a sélectionner votre flotte, et à lui donner l'ordre d'attaquer. Si vous sortez votre flotte assez tard, l'adversaire ne pourra pas vous contrer avec une flotte plus importante, car il ne découvrira que trop tard votre mouvement.</li>
</ul>


</div>






<div class="centre">


<h3>Conseils sur l'ordre de construction des bâtiments</h3>

<ol>
<li>Les usines de drones (parallèlement aux drones)</li>
<li>Une cinquantaine de tourelles des deux sortes (à améliorer plus tard via la recherche)</li>
<li>Centres de recherche et Arcane Sanctums (commencer à en construire avant d'avoir fini la construction des usines)</li>
<li>Les complexes catalytiques (ne pas en construire avant d'avoir toutes les usines / à construire éventuellement en même temps que les Centres de recherche et les Arcanes / nécessite une recherche magique)</li>
</ol>


<hr />

<p>Envie d'en savoir plus ? <a href="{{ path('aide') }}">Il est temps de passer à l'aide complète !</a></p>
{% endblock %}
