{% extends "base.html.twig" %}

{% block body %}
<h3>Qu'est-ce que le RP ?</h3>

<p>RP est l'abbréviation de Role Play ; en français, cela donne : "Jeu de Rôle", "jouer un rôle", peu importe, l'important est de comprendre que cela signifie incarner un personne inventé.
Le RP, c'est du théâtre, vous, le joueur, êtes l'acteur, le personnage qui fait l'objet de votre RP, lui, est le personnage que vous interprétez.
Ainsi, vous inventerez, pour votre personnage, une psychologie, une apparence, qui sont copiées sur les vôtres, ou inventées pour le rôle.
Il est nettement plus difficile, mais aussi plus amusant, d'inventer une toute autre psychologie, par exemple, pour un garçon, incarner une femme, ou l'inverse...
Ca, c'est l'esprit général du RP, c'est ce que le mot RP signifie.
Un RP a très souvent un cadre, définit par l'histoire du jeu, par la description faite par les autres membres, de cetains endroits.
Il ne faut PAS sortir du cadre, il faut faire agir votre personnage, parler votre personnage, conformément au cadre prédéfini.
Vous jouez un rôle, mais vous ne jouez pas, vous ne pouvez PAS jouer le rôle des autres joueurs ! 
Vous ne pouvez pas faire agir le personnage d'un autre joueur sans sa permission ! 
Cependant, vous pouvez animer plusieurs personnages, qui vous appartiennent, que vous avez créé.
De même que vous ne pouvez pas faire agir d'autres personnages, vous ne pouvez pas agir SUR leur personnage, pas le droit de les frapper, de les tuer, etc...en effet, peut être que le joueur dirigeant le personnage frappé/tué aurait fait se défendre son personnage !
Ce sont des règles générales, en applications sur grand nombre de forum</p>

<p>Pourquoi faire du RP ? Parce que le RP, c'est inventer, c'est faire fonctionner son imagination, c'est de devenir quelqu'un d'autre, LE quelqu'un de ses rêves, de s'évader du monde REEL.
Selon les forums, l'on peut dresser un dragon, diriger un état, ou encore entrer dans l'école de sorcellerie d'harry potter : Poudlard !
Je parle de forums, et justement, sur un forum, on ne peut pas faire n'importe quoi.</p>

<p>Sur un forum, il faut savoir comment présenter le RP
Certains forums ne demandent seulement que vous écriviez les paroles de votre personnage.
Ce n'est pas le cas sur celui-ci. Ici, le RP est le plus souvent présenté sous la forme :</p>

<ul>
  <li>desciption précédant les paroles</li>
  <li>paroles</li>
  <li>description suivant les paroles</li>
</ul>

<p>Ce plan n'est pas obligatoire, mais c'est une bonne aide pour commencer à rédiger.</p>

<p>Les description, ce sont des parties, qui peuvent décrire le mental, les pensées, les sentiments, l'état d'esprit de votre personnage, tout comme elle peut décrire ses actions, la ton de sa voix, la manière dont il marche, dont il parle, ce qu'il a dû faire pour arriver ici, à parler devant une assemblée.</p>

<p>Les paroles, c'est le discours, ou le dialogue que prononce votre personnage, devant une assemblée, pour lui-même , devant sa femme, ou les 3 petits cochons...</p>

<p>Généralement, pour les descriptions, l'on écrit en italique, et pour les paroles en gras, mais certains préfèrent utiliser des couleurs. Faites ce que vous préférez tant que votre RP reste lisible et compréhensible.</p>

<p>J'ai déjà dit pas mal de choses, je pourrais en rajouter énormément, développer à loisir, mais je vais terminer avec la seule règle UNIVERSELLE du RP, la règle que vous devez à tout prix respecter, mais aussi la règle qui contribue énormément à la qualité de votre RP.</p>

<p>Cette règle, c'est de s'amuser en écrivant, c'est de garder l'écriture comme distraction, comme amusement !<br />
Ne vous forcez pas !</p>

</div>

<div class="centre">

<h3>Exemples de RP</h3>

<p>
  <em>Archane était plongée dans ses rapports quotidiens. Seule avec Azephiel ils avaient une salle de la corporation un peu à part pour ne pas être dérangés. Archanus connaissait un temps de paix mais la paperasse n'avait jamais été si nombreuse. Azephiel mit alors sa main sur l'épaule de son impératrice.</em><br />
  <br />
  <strong>Nous devrions faire une pause. Je crois que vous vous surmenez un peu trop ces temps ci.</strong><br />
  <br />
  <em>Archane le regarda compréhensive. Azephiel avait toujours eu la manière de demander les choses qu'il voulait en vous faisant penser que vous en aviez besoin.<br />
  <br />
  Archane</em>
</p>

<br /><hr width="50%" /><br />

<p>
  <em>
  Thorin se rendait compte qu'il l'aimait...<br />
  Qu'il ne pouvait la laisser partir sans mot dire.<br />
  Mais, quoi donc mau dire ?<br />
  Que pourrait-il lui dire ?<br />
  Qu'il l'aimait, alors que son mental n'était que plusieurs épaisses couches de déception ? elle ne ferait qu'être déçue, une fois de plus...<br />
  <br />
  Alors, une ombre furtive...cette ombre qui lui caresserait le visage sans se montrer, une dernière fois..qui savourerait le moment...<br />
  Il n'y avait rien à dire, juste de la déception... 
  <br />
  La déception, comme l'ivresse, et comme la colère, donc était mauvaise conseillère, et elle venait de faire une si grosse erreur que de partir...<br />
  <br />
  Un dernier souhait de cette amère vie...un baiser, et après, il pourrait donner libre cours à sa lacheté, et comme la jeune femme, partir...partir, lui, dans un monde dont nul vivant ne puit être sûr de l'existance.<br />
  <br />
  Mourir, quel courage dans le comment, quelle lacheté dans le pourquoi, encore un paradoxe.<br />
  <br />
  Thorin
  </em>
</p>

<br /><hr width="50%" /><br />

<p>
  <p><strong>70 Volcan 3709. Palais du Shadowsong, Vertana</strong></p>
  <p>La jeune femme poussa les deux battants de la grande porte et s'avança dans la salle de méditation du Shadowsong. Elle s'inclina respectueusement devant l'homme assis ici, les yeux clos.</p>
  <p>
    <span style="color:cornflowerblue">- Edar Shadowsong.</span><br />
    <span style="color:darkorange">- Meïva.</span>
  </p>
  <p>Le Shadowsong laissa son esprit errer vers celui de sa subordonnée. Il perçut ses pensées superficielles, rechercha quelques détails dans les replis de sa conscience, puis se retira. L'exercice était d'autant plus facile que la femme était consentante.</p>
  <p><span style="color:darkorange">- Merci pour ton rapport</span>, lui dit-il, lui signifiant ainsi son congé.
  <p>Meïva Novae se retourna et marcha vers la porte, quand elle s'arrêta, saisie de stupeur : un homme d'une quarantaine d'années et portant une longue cape se matérialisait dans un halo de lumière. Le fait était stupéfiant : le Shadowsong avait lancé de puissants sortilèges pour que lui seul soit apte à se téléporter en ces lieux.</p>
  <p>L'inconnu inclina légèrement la tête en guise de salut :</p>
  <p style="color:lime">- Meïva Novae, Assarun Shadowsong.</p>
  <p>Meïva tresaillit. Dans ses souvenirs, jamais personne n'avait osé appeler le Shadowsong par son prénom.</p>
  <p>Le Shadowsong ouvrit les paupières et posa ses yeux lumineux sur l'arrivant. Son aura était le plus étrange qu'il n'avait jamais vu : il était plus complexe et plus ramifié que celui de n'importe quel humain, y compris le sien. Il était directement relié à tout ce qui vivait alentour, comme s'il faisait partie du monde au même titre que l'air, l'eau ou la terre. Une puissante magie l'enveloppait, si bien que le Shadowsong ressera ses protections mentales.</p>
  <p>Il dirigea son esprit vers celui de l'inconnu, mais celui-ci l'empêcha d'y accéder avec une facilité déconcertante, de la manière dont on empêche un enfant trop curieux de laisser ses mains s'égarer. Au contraire, il plongea mentalement vers le Shadowsong, traversa ses murailles comme du beurre et pénétra dans son esprit. La paroles qui suivirent voyagèrent à la vitesse de la pensée, si bien que la conversation ne dura en réalité que quelques instants.</p>
  <p>
    <span style="color:lime">- Je viens vous donner un conseil, Shadowsong.</span><br />
    <span style="color:darkorange">- Qu'êtes-vous ?</span><br />
    <span style="color:lime">- Vous ne serez pas celui qui accomplira le Chant des Ombres. Vous allez mourir dans quelques jours, et vous n'y pouvez rien. Mais si vous n'agissez pas, votre fils sera tué et votre lignée s'éteindra avec vous.</span><br />
    <span style="color:darkorange">- Nous ne pouvons pas échouer.</span><br />
    <span style="color:lime">- Voila ce que vous devez faire : scellez l'esprit de votre fils. Coupez-le de la magie et de toute relation mentale avec l'extérieur. Bref, supprimez son aura.</span><br />
    <span style="color:darkorange">- Dans quel but ?</span><br />
    <span style="color:lime">- Je m'occuperai de lui. Et en temps voulu, les Shadowsong pourront revenir.</span><br />
    <span style="color:darkorange">- ...</span><br />
    <span style="color:lime">- Si vous survivez, vous pourrez toujours annuler le sort. Mais vous n'avez aucune chance, je le crains.</span><br />
    <span style="color:darkorange">- ...</span><br />
    <span style="color:lime">- Un de vos ancêtres a mis au point un sort à cet effet.</span><br />
    <span style="color:darkorange">- Le Sceau des Ombres...</span><br />
    <span style="color:lime">- Exactement.</span><br />
    <span style="color:darkorange">- A l'origine, c'était une arme pour réduire à l'impuissance nos ennemis...</span><br />
    <span style="color:lime">- Je vous laisse le temps de prendre votre décision. Mais faites vite... Vos jours sont comptés.</span>
  </p>
  <p><em>Aurel</em></p>
</p>

<br /><hr width="50%" /><br />

<p>Le meilleur moyen de progresser reste d'en lire sur divers forums, voir ce qui se fait, et voir comment ils sont construits.</p>

<p><em>Bon jeu, bonne écriture ;)</em></p>

<p>Thorin</p>

{% endblock %}
