{% extends "base.html.twig" %}

{% block body %}
<p>Chroniques de Galactica est un jeu en constante mutation. Depuis la première ligne de code, en mars 2004, je n'ai pas arrêté. Correction de bugs,
ajout de nouvelles fonctionnalités, remaniements complets... Régulièrement, des mises à jour sont mises en ligne. En raison des aléas de mon emploi du temps et de ma motivation, elles se suivent parfois à un  rythme très rapide, parfois beaucoup plus lentement, mais il y a toujours des modifications en projet. Voici un petit aperçu de ce qui vous attend dans un avenir plus ou moins proche...</p>

</div>

<div class="centre">

<h3>Espionnage</h3>

<p>L'espionnage, ça fait longtemps qu'on en parle. Déjà, lors de la sortie de la version 1 (<span class="date">septembre 2004</span>), la page d'accueil du jeu informait que je travaillais dessus :</p>
<p style="text-align:center"><a href="{{ asset('images/espionnage/big/1.0beta.png') }}"><img class="miniature" src="{{ asset('images/espionnage/mini/1.0beta.png') }}" alt="Screenshot" /></a></p>

<p>L'état du jeu à l'époque a fait que j'ai dû me concentrer plutôt sur les corrections de bugs et sur quelques améliorations essentielles que sur ce module, aussi le projet a-t-il trainé, jusqu'à la fermeture de la v1.</p>

<p>Avec la programmation de la version 2 (<span class="date">début 2005</span>), le problème de l'espionnage s'est d'un seul coup trouvé relégué à l'arrière-plan. Il n'était pas intégré à la version beta lors de sa sortie, pas plus qu'au moment de la sortie réelle de la version 2.0, en <span class="date">septembre 2005</span>. De nouveau, mes priorités ont fait que, aujourd'hui encore (<span class="date">septembre 2008</span>), quatre ans après la première version des Chroniques, l'espionnage n'est toujours pas implémenté :</p>
<p style="text-align:center"><a href="{{ asset('images/espionnage/big/2.14.8.png') }}"><img class="miniature" src="{{ asset('images/espionnage/mini/2.14.8.png') }}" alt="Screenshot" /></a></p>

<p>Et pourtant, des initiatives ont été prises en ce sens. <span class="date">Début 2006</span>, un joueur de Chroniques de Galactica, Archane, m'a proposé de programmer ce module pour moi. Son code était à un stade plutôt bien avancé et devait être publié en même temps que le patch 2.14 (<span class="date">mai 2006</span>), mais son disque dur est tombé en panne, et toute avancée a été irrémédiablement perdue (morale de l'histoire : faites des sauvegardes !).</p>
<p>Ce revers a porté un dur coup à l'avancée de l'espionnage, et c'est bien plus tard que Archane, encore lui, s'est remis à ce projet. Aujourd'hui, enfin, on approche d'une version publiable. Beaucoup des fonctionnalités de l'espionnage sont opérationnelles, et le module est actuellement en test sur un serveur privé :</p>
<p style="text-align: center"><a href="{{ asset('images/espionnage/big/2.15.png') }}"><img class="miniature" src="{{ asset('images/espionnage/mini/2.15.png') }}" alt="Screenshot" /></a></p>
<p>C'est pour bientôt ! =)</p>

</div>


<div class="centre">

<h3>Version 3</h3>

<p>Ca fait des mois, voire des années qu'on en parle, de cette fameuse v3. Au programme, un jeu totalement repensé, des changements aussi importants qu'entre les deux premières versions. Mais c'est un projet de longue haleine, et bien que la programmation ait commencé depuis longtemps, on est encore très loin d'en voir le bout. D'autant plus que le développement est actuellement en pause, car je préfère pour l'instant me consacrer à la v2 et à d'autres projets.</p>

<p>Un jour, peut-être...</p>

{% endblock %}
