{% extends "base.html.twig" %}

{% block body %}
<p>Suite à la fermeture prématurée de la version 1, en <span class="date">décembre 2004</span>, je devais m'atteler au plus vite à la programmation d'une nouvelle version. Ayant codé la v1 alors que je débutais tout juste en programmation, le code source de celle-ci était effroyablement lourd, lent, et inadapté à des évolutions futures, j'ai donc décidé de repartir de zéro.</p>

<p>Et d'abord, j'ai appris les règles élémentaires du XHTML, et ai renoncé à nombre de mauvaises pratiques. J'ai notamment découvert la puissance du CSS en matière de mise en page, et ai définitivement renoncé à l'utilisation de tableaux pour la structure du site. Les Chroniques de Galactica n'étaient toujours pas totalement conformes aux spécifications du W3C (et ne devaient jamais l'être, d'ailleurs), mais s'en rapprochaient honorablement.</p>

<p>En <span class="date">février 2005</span>, j'ai ouvert une première beta de C2G v2. A cette occasion, j'ai décidé de changer d'hébergeur, les limites du serveur Free ayant déjà été largement atteintes par la v1. Cette version beta1 avait surtout pour but de tester les différents modules au fur et à mesure de leur conception, et ne proposait donc pas une expérience de jeu complète. La page armée, notamment, restait très proche de celle de la version 1.</p>

<p>Le développement ayant considérablement avancé (et notamment la page armée totalement repensée durant le mois de juillet), j'ai pu ouvrir <span class="date">début août 2005</span> une deuxième beta, beaucoup plus avancée que la précédente, qui a permis l'élimination de nombreux bugs.</p>

<p>Et finalement, le <span class="date">4 septembre 2005</span>, la version 2 des Chroniques de Galactica a ouvert ses portes, proposant une expérience de jeu finalement pas si différente de celle que l'on connait aujourd'hui.</p>

<p><span class="date">Septembre 2005</span> : ce mois a été marqué par de nombreux problèmes de serveur, qui m'ont conduit à fortement optimiser les scripts du jeu (passant dans certains cas de milliers de requêtes à la base de données à moins d'une dizaine). En parallèle de ces améliorations du code, l'histoire des Chroniques a également connu un important développement, notamment avec l'apparition dans le jeu des Sphères Élémentaires, puissants artefacts que se disputent les joueurs, et du Shadowsong, "grand méchant" géré par l'administration du jeu et ayant pour objectif de les récupérer.</p>

<p><span class="date">27 septembre 2005</span> : Au vu des maigres performances du serveur choisi pour démarrer la v2, un nouveau (coûteux) changement a été effectué.</p>

<p><span class="date">Octobre 2005</span> : Après un mois de v2, il est temps d'ajouter quelques nouvelles fonctionnalités. Notamment, les attaques nucléaires et de nombreux avantages pour les alliances (commerce, taxes, possibilité de nommer des ministres...).</p>

<p><span class="date">15 février 2006</span> : Nouveau changement de serveur</p>

<p><span class="date">Avril 2006</span> : De nouveaux problèmes de serveur me forcent à fermer le jeu une semaine pour effectuer des optimisations dans le code</p>

<p><span class="date">Mai 2006</span> : Chroniques de Galactica est piraté ! Fermeture d'une semaine pour corriger les failles, grâce à l'aide d'un joueur, Lêm Thay. J'ai profité de ce délai pour parachever la version 2.14, qui apporte nombre de petites fonctionnalités et de corrections.</p>

<p><span class="date">Fin mai 2006</span> : Quelqu'un ayant obtenu le code source des Chroniques suite à une "erreur humaine" en profite pour lancer un clone du jeu. J'ai alors déposé un copyright sur l'ensemble de mes scripts, ce qui a permis de faire fermer cette copie pirate.</p>

<p><span class="date">11 juin 2006</span> : On y pensait depuis longtemps, on l'a enfin fait ! Le nombre de joueurs toujours plus important provoquait des lenteurs intolérables (jusqu'à une minute pour charger une page aux heures de pointe !) et l'ire de mes hébergeurs successifs, nous n'avions donc plus le choix. Nous sommes passés sur un serveur dédié, c'est-à-dire qu'il nous appartient et que seules les Chroniques de Galactica tournent dessus. Merci beaucoup à Lêm Thay pour ses précieux conseils en matière d'administration d'un système UNIX ;) Le résultat ne se fait pas attendre : toutes les pages se chargent désormais en quelques dixièmes de secondes.</p>

<p><span class="date">Fin décembre 2006</span> : Le jeu est de nouveau piraté. La faille vient du système, cette fois. Cela tombe en période de vacances, la réinstallation nous prend donc deux semaines.</p>

<p><span class="date">Avril-Mai 2008</span> : Depuis quelques mois, les mises à jour se faisaient rares, mais ces mois d'avril et de mai ont vu pas moins de 8 patchs importants.</p>

</div>






<div class="centre">

<h3>Faits marquants</h3>

<p><em>Les données sur la période qui s'étale entre l'ouverture de la v2 (<span class="date">septembre 2005</span>) et le milieu de l'année 2006 sont fragmentaires, elles ne seront publiées que lorsqu'une recherche plus aboutie aura été effectuée. Vous avez des infos précises ? Des screenshots ? Contactez-moi !</em></p>
<!--
Septembre 05 : arrivée du sds1 et des sphères
17 novembre 05 : suppression du sds1 (critiques et temps)
-->

<!--
Le screen cei.jpg est dispo.
-->

<h4>Shadowsong - le retour</h4>

<p><span class="date">6 juin 2006</span> : Retour du dernier Shadowsong de la lignée, Warren. Une alliance fut créée, le Cercle du Shadowsong, contenant quatre joueurs humains et quinze bots, menés par l'état du Shadowsong, lui-même dirigé par Aurel. La quête dura tout l'été 2006, et la fin du Shadowsong fut marquée par le plus grand regroupement de joueurs jamais vu dans C2G. Au total, plus de cinquante joueurs ont participé.</p>

<p style="text-align:center">
<a href="{{ asset('images/v2/extras/big/sds2_classement.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/sds2_classement.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/extras/big/sds2_coalition1.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/sds2_coalition1.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/extras/big/sds2_coalition2.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/sds2_coalition2.jpg') }}" alt="Screenshot" /></a> 
</p>



<h4>Alliances en mouvement</h4>

<p>Suite à la victoire contre le SDS, l'Oracle, l'alliance créée pour lutter contre ce dernier, se scinda, créant un Oracle Maudit, tandis que de puissants états se rassemblaient pour former la Confrérie du Thorium, alliance qui allait secouer la galaxie. Menaçant la plupart des regroupements d'états du jeu, ils s'attirèrent les foudres de plusieurs petites alliances, dont une existe encore aujourd'hui : les Templiers. L'univers était reparti, à peine la quête terminée.</p>

<p>Peu après, l'Oracle Maudit, puissance montante, défie la Compagnie de Sheptal, et l'emporte, malgré le suicide des alliés des Sheptal, la Cour des Arcanes. Cette guerre fut l'une des plus mémorables de la version 2. La plupart des Mécènes (membres de la Compagnie de Sheptal) qui étaient là depuis les débuts de C2G quittèrent l'aventure après cet ultime revers, qui devait marquer le début de la nouvelle époque.</p>


<h4>L'Hégémonie</h4>

<p>Les Sombres Croisades, union de trois alliances dont la grande Confrérie du Thorium, s'allie avec l'Oracle Maudit et l'Iwachika Sakazusa, un état ayant réussi à en endoctriner cinquante. Ce dernier devint la première puissance des Chroniques, et la période que l'on nomme Hégémonie commença. Le projet des trois alliances étant de dominer le jeu par la force, et d'attendre une fois tout état réduit en cendres qu'une rébellion se forme. Certains états comme l'Evoila ou le Pikaland luttèrent fièrement, mais ce furent au final un projet de boost, celui de quelques membres des Sombres Croisades dont l'Obyeme, son fondateur, et la trahison de cette alliance-même, qui vinrent à bout de l'Iwachika Sakazusa, entraînant l'univers dans une guerre générale contre l'Oracle Maudit ; lequel sortit vainqueur ! Dirigée par le Nécrolia, cette alliance resta de nombreux mois en haut de tableau, bête noire des petits états, elle était détestée, et finit, à force de lassitude, et d'efforts de résistants, par tomber, comme toute alliance de C2G. Cependant, le Nécrolia ne baissa jamais les bras, et fut toujours présent pour rappeler « qui était le chef ». On retint notamment sa nuit de sang, lorsqu'il fit chuter l'alliance dominante du jeu, les Cendres Célestes, à lui seul.</p>



<h4>Le règne Illuminati</h4>

<p>Encore une nouvelle époque, celle des Illuminati, cette fois. Avec à sa tête le Cosa Nostra et l'Asgaroth, ce groupe s'imposa rapidement comme dominateur des Chroniques, et ni l'Armée Pourpre, dernier bébé du Nécrolia, ni les Sombres Croisades revenues suite à la chute de l'Oracle Maudit, ne purent le stopper. La Fédération de l'Améthyste, alliance encore existante au jour d'aujourd'hui, s'allia aux Illuminati, jurant de reprendre le flambeau en cas de défaite. La domination de cette monstrueuse alliance dura environ cinq mois, avant que n'arrive une nouvelle quête de l'administration : l'Ekelia.</p>

<h4>Ekelia : une horreur venue d'ailleurs</h4>

<p><span class="date">Novembre 2007</span> : Fédéralis, une nouvelle faction, naît. Elle est dotée d'un boost de l'administration pour rapidement monter en bâtiments, flotte, recherche, et techno-pirates. Elle n'a à l'origine aucun but particulier, si ce n'est celui de déstabiliser le régime en place, dont la stabilité excessive endormait la totalité des joueurs. Et cela ne manque pas : une guerre éclate entre Fédéralis et les deux alliances dominantes du moment : les Illuminati et le Cercle, loin derrière, mais malgré tout très puissant. Suite à diverses menaces (et surtout à un accord HRP entre les deux parties), les sphères élémentaires possédées par l'état Thrawn (Illuminati) sont léguées au Talisha (Fédéralis).</p>

<p><span class="date">5 janvier 2008</span> : La Fédéralis possède les Sphères, la quête de l'Ekelia peut commencer : un rituel est lancé par le Talisha. Les joueurs ont vingt-quatre heures pour le stopper, mais échouent. L'Ekelia, un monstrueux Etat contrôlé par une intelligence artificielle apparaît alors, et les joueurs doivent s'unir, car chaque jour des millions de force globale disparaissent, annihilés par le canon Ekelien. Fédéralis, prise de court par la bête qu'elle a mis au monde, entreprend de se lever contre elle.</p>

<p>Mais les Illuminati, en quête de vengeance contre ceux qui leur ont volé les sphères, abattent le groupe de Fédéralis. S'ensuit leur extinction, avec la plus grosse bataille des Chroniques, opposant le groupe de l'Asgaroth à celui de l'Empire Platin, des Sombres Croisades. Le second l'emporte, l'état le plus puissant jamais contrôlé par un joueur est détruit, et l'Illuminati vaincu. Mais Ekelia sévit toujours, et les pertes sont innombrables. Les coups montés de certains états pour se faire une place au sommet en dépit du conflit ne sont pas pour faciliter la tâche.</p>

<p>Car au-delà de l'entité, c'est bien l'égoïsme des dirigeants, voire leur cupidité, qui aurait pu laisser Galactica périr. En effet, Ekelia disposait d'une force corruptrice, transmettant aux Etats ciblés sa soif de sang. Ceux-ci pouvaient alors obtenir des unités en massacrant les troupes d'autres Etats Galacticains, et finissaient par tout perdre s'ils n'étaient pas purifiés rapidement par des unités rares spécialement déployées pour la quête.</p>

<p>Au final, le <span class="date">20 février 2008</span>, une coalition mit fin à cette ère de terreur et de défiance sur les terres du Mega Zérionus, où les plus fervents défenseurs du patrimoine galacticain se sont dressés, dernier rempart contre l'extermination. Au cours de cette guerre de presque deux mois, des millions de Galacticains ont trouvé la mort.</p>

<p style="text-align:center">
<a href="{{ asset('images/v2/extras/big/federalis.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/federalis.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/extras/big/ekelia.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/ekelia.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/extras/big/ekelia_canon.jpg') }}"><img class="miniature" src="{{ asset('images/v2/extras/mini/ekelia_canon.jpg') }}" alt="Screenshot" /></a> 
</p>

<p>Depuis cette période, Galactica est dominée par les Cendres Célestes et la Fédération de l'Améthyste, qui veillent à ce que la paix soit maintenue.</p>

</div>



<div class="centre">

<h3>Screenshots</h3>

<h4>Version 2.0 beta1 (<span class="date">printemps 2005</span>)</h4>

<p>
<a href="{{ asset('images/v2/2.0beta/big/index.png') }}"><img class="miniature" src="{{ asset('images/v2/2.0beta/mini/index.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.0beta/big/achat.png') }}"><img class="miniature" src="{{ asset('images/v2/2.0beta/mini/achat.png') }}" alt="Screenshot" /></a> 
</p>


<h4>Version 2.1.1 (<span class="date">janvier 2006</span>)</h4>

<p>
<a href="{{ asset('images/v2/2.1.1/big/gestion.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/gestion.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/achat.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/achat.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/commerce.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/commerce.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/recherche.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/recherche.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/etatmajor.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/etatmajor.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/silo.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/silo.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/armee1.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/armee1.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/armee2.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/armee2.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/alliance.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/alliance.jpg') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.1.1/big/classement.jpg') }}"><img class="miniature" src="{{ asset('images/v2/2.1.1/mini/classement.jpg') }}" alt="Screenshot" /></a> 
</p>

<h4>Version 2.14.8 (<span class="date">septembre 2008</span>)</h4>

<p>
<a href="{{ asset('images/v2/2.14.8/big/accueil.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/accueil.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/achat.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/achat.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/structures.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/structures.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/recherche.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/recherche.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/etatmajor.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/etatmajor.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/armee.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/armee.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/espionnage.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/espionnage.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/alliances.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/alliances.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v2/2.14.8/big/admin.png') }}"><img class="miniature" src="{{ asset('images/v2/2.14.8/mini/admin.png') }}" alt="Screenshot" /></a> 
</p>



<h3>Bannières</h3>

<p>
<img src="{{ asset('images/bans/2.0beta.gif') }}" alt="Bannière" /><br />
<img src="{{ asset('images/bans/2.0.gif') }}" alt="Bannière" /><br />
<img src="{{ asset('images/bans/2.14.gif') }}" alt="Bannière" />
</p>

{% endblock %}
