{% extends "base.html.twig" %}

{% block body %}
<p><span class="date">Mars 2004</span>. Après avoir découvert deux jeux web, aujourd'hui disparus depuis longtemps, il m'est venu l'idée de m'atteler à la création d'un projet similaire. Mon expérience en programmation était alors quasi inexistante : un site web avec FrontPage et quelques bases en HTML et CSS...</p>

<p>Quelques jours plus tard, les premières idées étaient sur le papier, et mon apprentissage du langage PHP débutait. Apprentissage difficile, car les ressources à ce sujet étaient beaucoup plus rares à l'époque qu'à l'heure actuelle, et que des changemnents récents dans le langage les rendaient parfois obsolètes.</p>

<p>Cependant, en l'espace de quelques mois, un site (approximativement) fonctionnel a vu le jour. Laid, certes. Buggé, certes. Très loin de ce que le jeu allait devenir em terme de fonctionnalités. Pourtant, la toute première beta (<span class="date">juillet 2004</span>) attira tout de même une centaine de joueurs.</p>

<p><span class="date">Début septembre 2004</span>, la première version des Chroniques de Galactica est sortie sur un serveur Free plutôt lent. Lenteur à laquelle contribuaient sans aucun doute mes scripts non optimisés, et souvent très mal conçus. Cette sortie était très certainement prématurée : de nombreux bugs et failles de sécurité ont permis à certains joueurs plus malins que les autres de s'assurer une place au soleil. A tel point que cette version n'a duré que quelques mois : en <span class="date">décembre 2004</span>, la situation était devenue intenable au point que je décide de fermer le jeu en attendant la sortie de la version 2, déjà en projet.</p>

</div>


<div class="centre">

<h3>Faits marquants</h3>

<p>Les archives retraçant les événements de la version 1 ont depuis longtemps été détruits par l'outrage du temps. Seules subsistent les quelques légendes circulant encore de bouche à oreille, de plus en plus déformées.</p>

<p>Ainsi, on raconte surtout que la version 1 fut le théâtre d'affrontements violents (aussi bien oratoires que militaires et nucléaires) entre deux grandes alliances : la Neon Genesis (figures célèbres : Tabris, Iroël, Zeross, Duanration, Drizzt, ...), puissance bienveillante mais dominatrice, et l'Escouade Chaotique (figures célèbres : Scroudaf, Insaneboy, Kalyso, Slayer, Shingaz, L'Hérétique,...) , tentant tant bien que mal d'imposer ses vues. On évoque encore également l'alliance des Gardiens de la Conscience, qui reste présente dans les esprits pour le nombre de ses membres, très important pour l'époque, et pour les talents d'espion d'un d'entre eux, Thorin.</p>

<p><em>Avis aux anciens : je fais la chasse aux souvenirs et aux textes d'époque, contactez-moi si vous avez l'un ou l'autre !</em></p>

</div>


<div class="centre">

<h3>Screenshots</h3>

<p>
<a href="{{ asset('images/v1/big/index.png') }}"><img class="miniature" src="{{ asset('images/v1/mini/index.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v1/big/gestion.png') }}"><img class="miniature" src="{{ asset('images/v1/mini/gestion.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v1/big/banque.png') }}"><img class="miniature" src="{{ asset('images/v1/mini/banque.png') }}" alt="Screenshot" /></a> 
<a href="{{ asset('images/v1/big/armee.png') }}"><img class="miniature" src="{{ asset('images/v1/mini/armee.png') }}" alt="Screenshot" /></a> 
</p>

<h3>Bannières</h3>

<p>
<img src="{{ asset('images/bans/1.0beta.jpg') }}" alt="Bannière" /><br />
<img src="{{ asset('images/bans/1.0.jpg') }}" alt="Bannière" />
</p>

{% endblock %}
