{% extends "base.html.twig" %}

{% block body %}

<p><strong>Chroniques de Galactica</strong> est un jeu multijoueurs en ligne, créé en 2004. Malgré de nombreuses versions, évolutions et révolutions, son principe est à peu de choses près resté inchangé : vous êtes placé à la tête d'un État nouvellement créé, et êtes chargé de le faire prospérer en gérant des secteurs variés tels que l'économie, la recherche, la défense ou la diplomatie.</p>

<div class="cadre_image">
<img src="{{ asset('images/bans/2.0beta.gif') }}" alt="Bannière de C2G v2 beta" /><br />
Bannière de C2G v2 beta (<span class="date">Juillet 2005</span>)
</div>

<p>
Cependant, bien que le principe du jeu soit resté approximativement le même, on ne peut en dire autant des joueurs. Très peu parmi les membres actuels ont connu le début de cette version, et ceux qui ont vu la genèse des Chroniques se comptent sur les doigts d'une seule main. J'ai donc décidé de créer ce site, destiné à vivre en parallèle du jeu, et proposant de nombreuses ressources documentaires à son sujet : un historique détaillé, à la fois de la conception du jeu et des événements qui ont marqué son Histoire (guerres, quêtes, personnalités...), mais également un aperçu des nouveautés à venir, et une aide détaillée s'adressant aussi bien aux nouveaux qu'aux joueurs expérimentés.
</p>

<div class="cadre_image">
<img src="{{ asset('images/bans/2.0.gif') }}" alt="Bannière de C2G 2.0" /><br />
Bannière de C2G 2.0 (<span class="date">Septembre 2005</span>)
</div>

<p>Pour vivre, ce site a besoin de vous, joueurs de C2G ! Vous seuls avez les souvenirs qui permettent de le nourrir. Si vous voulez écrire une partie des Chroniques, si vous avez gardé de vieux screenshots, n'hésitez pas à me contacter. Merci d'avance.</p>

{% endblock %}
