{% extends "base.html.twig" %}

{% block body %}

<h3>Chroniques de Galactica</h3>

<p>Le système de Galactica est en crise. L'harmonie établie depuis des millénaires par le Grand Conseil des mages est chamboulé par de nombreux conflits.
Certains Etats n'hésitent pas à employer tous les moyens à leur disposition pour soumettre leurs voisins, au mépris des règles les plus élémentaires de la démocratie.
On raconte même que certains mages de Vertana ont décidé de quitter le Conseil pour pouvoir pratiquer des expériences interdites sur des humains, et que les mines d'uranium de Volcano ont repris leur activité.
Dans ce contexte tumultueux, des Etats se créent chaque jour sur les ruines encore fumantes de leurs prédecesseurs, tandis que des populations entières sont exterminées.</p>

<p>Ces temps sont sombres pour tout le monde. Même les Etats qui ont la chance de voir leur neutralité respectée ressentent le contrecoup des conflits de leurs voisins. A la Bourse de Galactica, les cours sont en chute libre, et de nombreux Etats Galacticains, se basant sur sa toute-puissance pour prospérer, se retrouvent ruinés.</p>

<p>Pour faire face à la situation, le Grand Conseil, formé des douze mages réputés les plus puissants et les plus sages de la galaxie, a décidé la fondation de la <strong>Corporation Galactique</strong>, une force armée luttant pour le respect des droits de l'homme et des libertés fondamentales. La Corporation est financée grâce à un impôt obligatoire prélevé directement sur la production des Etats. Et si personne n'a osé s'élever contre cette décision, c'est bien que personne ne voulait subir l'ire du Grand Conseil...</p>

<p>Aussitôt instituée, la Corporation Galactique a renforcé le décret datant de la nuit des temps et interdisant l'utilisation des armes de destruction massive. Elle a également ordonné la dissolution des alliances existantes, et a prévenu qu'elle n'accepterait leur reformation que si leurs membres fréquentaient régulièrement son siège, lieu de débats politiques. Le Grand Conseil espérait ainsi conduire les dirigeants vers la voie de la sagesse et de la raison. Mais, outre ces mesures plus diplomatiques qu'autre chose, la Corporation s'est constituée une véritable armée, qu'elle pourrait mettre à profit pour calmer les guerres si celles-ci devaient prendre un tour catastrophique...</p>

</div>






<div class="centre">

<h3>Calendrier des Chroniques</h3>

<p>Un an Galacticain compte 375 jours et correspond à une rotation complète de la planète Galactica autour du Soleil. Les 375 jours sont répartis entre cinq saisons : Galan, Aquan, Vertan, Volcan et Desertan.</p>

<p>Le premier Galan de l'an zéro correspond au jour de la fondation du Grand Conseil de Galactica.</p>

<p>Ce calendrier a été mis en place au moment du lancement de la version 2 des Chroniques de Galactica, début septembre 2005. La date alors choisie était le 1er Galan 3724. Date actuelle : <strong>{{ currentDate }}</strong>.</p>



<h3>Convertisseur de dates</h3>

<p><em>Attention : les dates avant le 1er janvier 1970 ou avant le 17 Aquan 3689 ne peuvent être converties.</em></p>

<form method="post">
<p>
    <label>Date : <input type="text" name="date" size="10" maxlength="10" /></label>
    <em>(JJ/MM/AAAA)</em>
    <input type="submit" value="Vers date C2G" />
	<input type="hidden" name="mode" value="irl2c2g" />
</p>
</form>

<form method="post">
<p>
	Date : <input type="text" name="day" size="2" maxlength="2" />
	<select name="season">
		<option>Galan</option>
		<option>Aquan</option>
		<option>Vertan</option>
		<option>Volcan</option>
		<option>Desertan</option>
	</select>
	<input type="text" name="year" size="4" maxlength="4" />
	<input type="submit" value="Vers date réelle" />
	<input type="hidden" name="mode" value="c2g2irl" />
</p>
</form>

<p><strong>{{ conversionResult }}</strong></p>

</div>







<div class="centre">

<h3>Galactica, système terraformé</h3>

<p>Personne ne sait qui furent les premiers habitants de Galactica et de ses voisines Aquablue, Volcano, Vertana et Desertica. Mais ce qui est certain, c'est que ce peuple disposait déjà d'une technologie avancée : des cinq planètes du système, seule Galactica devait être habitable à l'origine. C'est donc sur elle que se sont basés les colons, avant de terraformer ses voisines. C'est sans doute une des causes historiques de la toute-puissance économique et politique actuelle de Galactica, et cela explique pourquoi le système planétaire porte son nom.</p>


<h4>Galactica, puissance industrieuse</h4>

<p>La planète Galactica est entièrement couverte par une gigantesque ville, à l'exception d'une étendue d'eau polluée nommée pompeusement la Mer Centrale, dans laquelle se déversent tous le déchets des usines de la planète (solution beaucoup moins coûteuse que de les acheminer dans l'espace).</p>

<p>Galactica est le centre historique, politique et économique du système, avec des institutions telles que la Bourse, le siège de la Corporation Galactique ou celui du Grand Conseil. Ses Etats sont, le plus souvent, des Etats banquiers, industriels ou commerçants, qui se reposent sur la puissance économique de la planète et sa qualité de centre de la galaxie pour accroitre leurs bénéfices.</p>


<h4>Volcano, magma radioactif</h4>

<p>La surface de Volcano est constamment déchirée par de violents séismes et éruptions volcaniques. Les quelques hommes qui s'y installent pour exploiter ses richissimes gisements d'uranium pur se terrent dans des cavernes artificielles, ou bien préfèrent rester dans des stations spatiales en orbite.</p>

<p>C'est clair : si on s'installe sur Volcano, c'est pour travailler avec de l'uranium. Les Etats de cette planète n'ont pas leur pareil pour vous faire péter des missiles sur la figure, c'est leur spécialité. Ils sont redoutés universellement pour leur potentiel de destruction, que ce soit grâce à leurs armes surpuissantes ou à leurs frappes chirurgicales. Le fait de savoir qu'une pluie de missiles les précède presque toujours donne à leurs flottes un moral d'acier... ou plutôt d'uranium !</p>


<h4>Aquablue, ilôt spatial</h4>

<p>Aquablue est souvent surnommée la Grande Bleue. De l'espace, il est facile de voir à travers son clair atmosphère qu'elle est presque entièrement couverte d'eau. Le manque de place est d'ailleurs un problème que ses habitants ont dû résoudre assez tôt : leurs cités sont construites sur les nombreuses îles, mais aussi sous la mer, et surtout dans l'espace, dans des stations en orbite autour de la planète.</p>

<p>Poussés par le manque de place, les Etats d'Aquablue ont beaucoup travaillé pour développer leur industrie spatiale. Grâce aux importantes réserves sous-marines de carburant et à une recherche scientifique dynamique, les transports spatiaux d'Aquablue sont devenus très compétitifs, et réputés dans tout le système.</p>


<h4>Vertana, forêt enchantée</h4>

<p>Vertana, grâce à son climat tempéré et à l'abondance d'eau qu'on y trouve, s'est peu à peu couverte de forêts luxuriantes. Celles-ci sont protégées par un accord limitant les industries polluantes et encourageant la pratique de la magie.</p>

<p>Les Etats vertaniens n'ont pas vraiment le choix : ils doivent limiter leurs industries polluantes et surtout nucléaires pour respecter les accords anti-pollution en vigueur sur cette planète. Mais ce désagrément est compensé par une pratique avisée des arcanes, favorisée par le nombre de sources de mana présentes dans la forêt. Par la magie, les hommes atteignent donc l'équilibre, tout en préservant la nature sur leur planète.</p>


<h4>Desertica, l'aridité de l'acier</h4>

<p>Desertica, planète la plus proche du soleil, est constamment écrasée par sa chaleur et sa lumière. Pour trouver de l'eau, on doit creuser dans les profondeurs de la planète, ou se rendre aux pôles, où la température est légèrement plus clémente.</p>

<p>Les Etats de Desertica tirent principalement leur influence des tonnes de minerai de fer présentes dans le sous-sol de la planète, permettant la création de grandes quantités d'un acier de première qualité. Sur Desertica est également cultivé, à défaut de nourriture, un amour des arts de la guerre, principalement en ces temps troublés. Les stratégies des officiers deserticains sont enseignées et admirées dans le système entier, et tout le monde tremble devant la puissance de leurs armées.</p>


</div>








<div class="centre">

<h3>Chroniques du Chant des Ombres</h3>

																																					 <p><em>Le Shadowsong est un ajout à l'univers qui date de la version 2.0 (<span class="date">septembre 2005</span>). L'objectif de cet ajout était de favoriser le Role-Play et son interaction avec le jeu : un État nommé Shadowsong et dirigé par l'administrateur avait été créé, son objectif était de s'accaparer cinq artefacts surpuissants, les Sphères Élémentaires... ce que devaient à tout prix éviter les joueurs. Depuis, le Shadowsong est intervenu plusieurs fois dans l'univers des Chroniques, y compris dans le jeu.</em></p>


<p>Dans les temps immémoriaux, alors que le grand-père du grand-père du grand-père du grand-père du grand-père de votre grand-père n'existait pas encore et n'était pas prêt d'exister, vivait un archimage. Son nom a été perdu par l'injure du temps. Quand les sages en parlent, ils le nomment tout simplement "le premier Shadowsong".</p>

<p>La légende raconte que le talent de cet homme n'avait d'égal que sa soif de pouvoir. Certains affirment qu'il aurait passé un pacte avec un démon, d'autres qu'il était un envoyé des dieux créateurs. La vérité est que personne ne sait comment, mais cet homme est parvenu a créer une véritable lignée : à sa mort, son fils a tout hérité de lui : ses pouvoirs, sa mémoire, mais aussi sa conscience. Ainsi, on dit que ce fils pouvait "fusionner" avec son père, et qu'il partageait alors ses pensées avec lui.</p>

<p>Au fil des millénaires, les Shadowsong se sont ainsi transmis leurs pouvoirs et leurs esprits de génération en génération, si bien que leur héritier disposait d'une puissance magique insoupçonnable. C'est alors que le dessein des Shadowsong s'est révélé : ils se transmettaient leurs pouvoirs depuis des lustres pour une seule et unique raison : l'exécution d'un rituel magique très avancé, nommé Chant des Ombres, duquel ils tirent leur nom. Cette cérémonie requiert des conditions bien précises, que seuls les Shadowsong connaissent. Mais les sages savent au moins que, si la cérémonie venait à être accomplie, cela signifierait la fin de l'humanité telle que nous l'avons toujours connue.</p>

<p>Devant le danger, le Grand Conseil est alors intervenu. Les mages les plus puissants de la galaxie durent tous se liguer contre le Shadowsong pour enfin le vaincre, il y a douze ans de cela. Depuis, le nom des Shadowsong est resté gravé dans l'esprit du peuple, et lorsque les enfants ne sont pas sages le soir, on les menace de les livrer au Clan - car quand on utilise ce terme, il ne peut que faire référence à la famille des Shadowsong -.</p>

<p>Mais si d'aventure quelqu'un devait croiser un hypothétique survivant du Clan, il ne le reconnaitrait certainement pas. Certes, il pourrait sentir une puissante aura magique, mais très peu de gens savent que, lorsque le Shadowsong fusionne avec ses ancêtres, ses yeux deviennent blancs, d'un blanc lumineux qui vous fait mal aux yeux...</p>

{% endblock %}
